<template>
  <CContainer>
    <CRow class="justify-content-center">
      <CCol md="7">
        <CCard>
          
          <CCardHeader>
            <strong>Change Password</strong>
          </CCardHeader>

          <CCardBody>

              <br/>

              <div>
                  <CRow>
                    <CInput horizontal :value="this.currentUser. id" id="id" :hidden="true" />
                      <CCol class="col-3 col-sm-3">New Password:</CCol>
                      <CCol class="col-9 col-sm-9">
                          <CInput placeholder="Password" type="password" id="password" name="password" v-model="currentUser.password" 
                          required valid-feedback="Input is valid." invalid-feedback="Please provide at least 6 characters/number." :is-valid="validator1"
                          @keyup.enter="handleChangePassword()"></CInput>
                      </CCol> 
                  </CRow>
                  <br/>
                  <CRow>
                      <CCol class="col-12 col-sm-12">
                          <CInput label="Re-Enter Password" horizontal type="password" id="retypePass" valid-feedback="Password is Match." 
                          invalid-feedback="Password Not Match." :is-valid="validator2"/>
                      </CCol> 
                  </CRow>
                  <br/>
                  <CRow>
                      <CCol col="12" class="text-right">
                        <CButton class="btn btn-primary " @click="changePassword()" type="submit">
                          <span>Change Password</span>
                        </CButton>
                        <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
                      </CCol>
                  </CRow>
              </div>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>

import axios from "axios";
import User from "../models/user";
export default {
  name: 'ChangePasswordCont',
  
  data(){
    return {
      
      user: new User("", "", "", "", ""),
      message: '',
      loading: false
    }

  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },


  methods: {
   
    validator1(val) {
      return val ? val.length >= 6 : false;
    },
    validator2(val) {
      var a = document.getElementById("password").value;
      if (val != a) {
        return false;
      } else {
        return true;
      }
    },

    validateForm() {
      var strPass = document.getElementById("password").value;
      var strPass2 = document.getElementById("retypePass").value;

      if (strPass == "") {
        this.$swal({
          title: 'Notice',
          text: 'Password must be selected',
          icon: 'Warning',
          confirmButtonText: 'OK',
          showLoaderOnConfirm: true
        })
        return false
      }

      if (strPass.length <= 5) {
        this.$swal({
          title: 'Notice',
          text: 'Password must be Strong',
          icon: 'Warning',
          confirmButtonText: 'OK',
          showLoaderOnConfirm: true
        })
        return false
      }

      if (strPass2 == "") {
        this.$swal({
          title: 'Notice',
          text: 'Retype Password must be filled',
          icon: 'Warning',
          confirmButtonText: 'OK',
          showLoaderOnConfirm: true
        })
        return false
      }

      if (strPass2 != strPass) {
        this.$swal({
          title: 'Notice',
          text: 'Password must be match',
          icon: 'Warning',
          confirmButtonText: 'OK',
          showLoaderOnConfirm: true
        })
        return false
      }
      return true;
  },

  changePassword() {
    if(this.validateForm()){
    var strUID = document.getElementById("id").value;
    var strPass = document.getElementById("password").value;
    var updateURL = "http://localhost:1235/api/auth/ChangePassword/id=" + strUID;
        return axios
          .put(updateURL, {
            password: strPass,
          }).then((response) => {
            
              this.$router.push("/profile");
              this.$swal({
              title: 'Notice',
              text: 'Successfully Updated!',
              icon: 'success',
              confirmButtonText: 'OK',
              showLoaderOnConfirm: true,
            })  
            
            })
            
            // eslint-disable-next-line no-unused-vars
            .catch((err) => {
              // Manage the state of the application if the request
              // has failed
              alert(err)
        })
      }
    }
  },
};
</script>