<template>
  <div class="c-app flex-row align-items-center">
      
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="6">
          <CCardGroup>
            <CCard class="p-4" style="box-shadow:1px 1px 10px 10px; background:#f2f2f2" >
              <CCardBody>
                <CForm >
                  <img alt="Vue logo" 
                  src="../../assets/logo-IRIS.png" 
                  name="logo" 
                  size="custom-size" 
                  :height="80" 
                  viewBox="10 10 110 134"
                  style="position:relative; left:135px; right:100px; top:0px;"
                  />
                  <br/><br/>
                  <h2>Forgot Password</h2>
                  <p class="text-muted">Please enter your email address: </p>

                  <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
                  <CInput
                  placeholder="Email"
                  name="email"
                  type="email"
                  id="email"
                  v-model="email"
                  @keyup.enter="handleForgotPassword()"
                  required
                  was-validated
                  autocomplete="off"
                  
              >
             
                  >
                
        
                    <template #prepend-content><CIcon name="cil-envelope-closed"/></template>
                  </CInput>

                  
                  <CRow>
                    <CCol col="12" class="text-center">
                      
                    <CButton class="btn btn-primary " :disabled="loading" @click="handleForgotPassword()">
                    <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                      <span type="submit"> Submit </span>
                     </CButton>
       
                       
                    </CCol>
                  </CRow>
                  
                  
                </CForm>
      

              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
    
  </div>
</template>

<script>

import axios from "axios";
export default {
  name: 'ForgotPassword',
  data() {
    return {
      loading: false,
      message: '',
      email: '',
      ur:'Email is required!'
      //updateSubmit: false
    };
  },
  
  methods: {
  
   validateForm() {
      var re = /\S+@\S+\.\S+/;
      var strEmail = document.getElementById("email").value;

      
      if (strEmail == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Email must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (!re.test(strEmail)) {
        this.$swal({
                    title: 'Notice',
                    text: 'Email Format Wrong!',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }

      return true;
   },

  handleForgotPassword() {
    
    if(this.validateForm()){
    var strEmail = document.getElementById("email").value;
    //alert (strEmail) 
    if(strEmail != null){
    var addURL = "http://localhost:1235/api/fp/forgot_password";
              return axios
                .post(addURL, {
                  email: strEmail
                }).then(() => {
                  this.$router.push('/login')
                  this.$swal({
                    title: 'Notice',
                    text: 'Email successfully sent!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
              },
              error => {
              this.message = "Email doesn't exist"
            })
                  
              
    } else{
      alert("fail");
    }
  }
    
  }
  }
};
</script>