<template>
  <div class="c-app flex-row align-items-center">
      
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="6">
          <CCardGroup>
            <CCard class="p-4" style="box-shadow:1px 1px 10px 10px; background:#f2f2f2" >
              <CCardBody>
                <CForm >
                  <img alt="Vue logo" 
                  src="../../assets/logo-IRIS.png" 
                  name="logo" 
                  size="custom-size" 
                  :height="80" 
                  viewBox="10 10 110 134"
                  style="position:relative; left:135px; right:100px; top:0px;"
                  />
                  <h1>Login</h1>
                  <p class="text-muted">Please Sign In to your account</p>
                  <CInput
                    placeholder="Username"
                    v-model="user.username"
                    required
                    type="text"
                    name="username"
                    autocomplete="off"
                    
                  >
                
        
                    <template #prepend-content><CIcon name="cil-user"/></template>
                  </CInput>

                  <CInput
                    placeholder="Password"
                    :type="fieldTypes.password"
                    v-model="user.password"
                    required
                    name="password"
                    @keyup.enter="handleLogin()"
                    @focus="handleType"
                    @blur="handleType"
                    autocomplete="off"
                  >
                  
                    <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                  </CInput>

                  
                  <CRow>
                    <CCol col="6" class="text-left">
                      
                       <!-- <CButton type="submit" size="sm" v-if="!updateSubmit" color="primary"><CIcon name="cil-check-circle"/> Login</CButton> -->
                      <!-- <CButton type="submit" size="sm" color="primary"><CIcon name="cil-check-circle"/> Login</CButton> -->
                    <CButton class="btn btn-primary " :disabled="loading" @click="handleLogin">
                    <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                      <span type="submit" >Login</span>
                     </CButton>
                     <!-- <CButton type="submit" @click="handleLogin">Login</CButton> -->
                     <!-- <div
            v-if="errors.has('password')"
            class="alert alert-danger"
            role="alert"
          >Password is required!</div> -->
       
                       <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
                    </CCol>
                    <CCol col="6" class="text-right">
                      <!--<a :href="'/ForgotPassword'" ><CButton color="link">Forgot password?</CButton></a>-->
                      <CButton color="link" @click="handleForgotPassword">Forgot password?</CButton>
                      <CButton color="link" class="d-lg-none">Register now!</CButton>
                    </CCol>
                  </CRow>
                  
                  
                </CForm>
      

              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
    
  </div>
</template>

<script>
import User from '../models/user';

export default {
  name: 'Login',
  data() {
    return {
      user: new User('', ''),
      loading: false,
      message: '',
      ur:'Username is required!',
      fieldTypes: {
        password: 'text',
      }
      //updateSubmit: false
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  created() {
    if (this.loggedIn) {
      this.$router.push('/dashboard');
    }
  },
  methods: {
    handleLogin() {
      this.loading = true;
      
        

        if (this.user.username && this.user.password) {
          this.$store.dispatch('auth/login', this.user).then(
            () => {
              this.$router.push('/dashboard').catch(()=>true);
            },
            error => {
              this.loading = false;
              this.message = "Incorrect username or password"
                // (error.response && error.response.data && error.response.data.message) ||
                // error.message ||
                // error.toString();
            }
          );
        }

          if (this.user.status != 'Active') 
           {
             this.$store.dispatch('auth/login', this.user).then(
              () => {
                this.$router.push('/dashboard');
              },
              () => {
                this.loading = false;
                this.message = "Account doesnt exist. Please register first."

                }
                    );
          
           }

      
    },

    handleForgotPassword() {

        this.$router.push('/ForgotPassword');
      
    },

     handleType(event) {
      const { srcElement, type } = event;
      const { name, value } = srcElement;

      if(type === 'blur' && !value) {
        this.fieldTypes[name] = 'text'
      } else {
        this.fieldTypes[name] = 'password'
      }
    }
  }
};
</script>