<template>
  <div class="c-app flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="6">
          <CCardGroup>
            <CCard
              class="p-4"
              style="box-shadow: 1px 1px 10px 10px; background: #f2f2f2"
            >
              <CCardBody>
                <CForm>
                  <CInput
                    label="Username"
                    v-model="user.username"
                    type="text"
                    name="username"
                    required
                  />
                  <div
                    v-if="submitted && errors.has('username')"
                    class="alert-danger"
                  >
                    {{ errors.first("username") }}
                  </div>

                  <CInput
                    label="Email"
                    v-model="user.email"
                    type="email"
                    name="email"
                    required
                  />
                  <!-- <div
              v-if="submitted && errors.has('email')"
              class="alert-danger"
            >{{errors.first('email')}}</div> -->

                  <CInput
                    label="Password"
                    v-model="user.password"
                    type="password"
                    name="password"
                  />
                  <!-- <div
              v-if="submitted && errors.has('password')"
              class="alert-danger"
            >{{errors.first('password')}}</div> -->

                  <CSelect
                    id="AccountTypeID"
                    :options="AccountOption"
                    horizontal
                    label="AccountType"
                    placeholder="Please select account type"
                    :value.sync="user.role"
                  />
                  <p>Selected: {{ user.role }}</p>

                  <CButton
                    class="btn btn-primary"
                    @click="handleRegister"
                    type="submit"
                  >
                    Add
                  </CButton>
                </CForm>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
    <div
      v-if="message"
      class="alert"
      :class="successful ? 'alert-success' : 'alert-danger'"
    >
      {{ message }}
    </div>
  </div>
</template>

<script>
import User from "../models/user";
//import Role from '../models/role';

export default {
  name: "NewRegister",
  data() {
    return {
      user: new User("", "", "", ""),
      // role: new Role(''),
      submitted: false,
      successful: false,
      message: "",
      //role:'',
      AccountOption: [
        { value: "user", label: "Basic [Limited Access]" },
        { value: "admin", label: "Admin [Full Access]" },
      ],
    };
  },
  methods: {
    handleRegister() {
      this.message = "";
      this.submitted = true;

      if (this.user.username && this.user.password != null) {
        //this.user.role = document.getElementById("AccountTypeID");
        this.$store.dispatch("auth/register", this.user)
        .then(
          () => {
            alert("Successful Register.");
            this.$router.push("/dashboard");
          },
          (error) => {
            this.loading = false;
            this.message =
              (error.response &&
                error.response.data &&
                error.response.data.message) ||
              error.message ||
              error.toString();
          }
        );
      }

      alert;
    },
  },
};
</script>