<template>
      
  <CContainer>
      <CRow class="justify-content-center">
        <CCol md="7">
          <CCard>
            <CCardHeader>
              <strong>Profile</strong>
            </CCardHeader>
            <CCardBody>
          
                
      <h4 class="text-center">
        <strong>{{currentUser.username}}</strong> Profile
      </h4>
      <br/>
      <br/>
    <div>
<CRow>
        <CCol class="col-5 col-sm-5 text-right"><strong>Username</strong></CCol>
        <CCol class="col-1 col-sm-1 text-center"><strong>:</strong></CCol>
        <CCol class="col-6 col-sm-6 text-left"> {{currentUser.username}}</CCol> </CRow>
<br/>

<CRow>
        <CCol class="col-5 col-sm-5 text-right"><strong>Email</strong></CCol>
        <CCol class="col-1 col-sm-1 text-center"><strong>:</strong></CCol>
        <CCol class="col-6 col-sm-6 text-left"> {{currentUser.email}}</CCol> </CRow>
<br/>

<CRow>
        <CCol class="col-5 col-sm-5 text-right"><strong>Authorities</strong></CCol>
        <CCol class="col-1 col-sm-1 text-center"><strong>:</strong></CCol>
        <CCol class="col-6 col-sm-6 text-left" v-for="(role,index) in currentUser.roles" :key="index">{{role}}
          </CCol> </CRow>

<br/><br/>

<CRow>
        <CCol col="9" class="text-right">
        <CButton class="btn btn-primary " :disabled="loading" @click="changePassword">
        <span v-show="loading" class="spinner-border spinner-border-sm"></span>
          <span>Change Password</span>
          </CButton></CCol></CRow>
    
  <br/>
   
  </div>

            </CCardBody>
            </CCard>
        
        </CCol>
      </CRow>
    </CContainer>
</template>

<script>
export default {
  name: 'Profile',
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  // mounted() {
  //   if (!this.currentUser) {
  //     this.$router.push('/login');
  //   }
  // },

  methods: {
    changePassword(){
      this.$router.push('/ChangePasswordCont')
    }
  }
};
</script>