<template>
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader>
          <strong>Register Employees</strong>
        </CCardHeader>  
        <CCardBody>
          <CButton color="success" class="mr-1" @click="employeeinfo('', '', '', '', '', '', '', '', '', true, 'new')" style="float: right"
            >Add</CButton
          >
          <CDataTable
            hover
            striped
            :items="items"
            :fields="fields"
            :items-per-page="5"
            clickable-rows
            :active-page="activePage"
            tableFilter
            :pagination="{ doubleArrows: false, align: 'center' }"
            @page-change="pageChange"
          >
            <template #action="data">
              <td>
                <CButton color="info" class="mr-1" @click="employeeinfo(data.item.id, data.item.emplonumber, data.item.username, data.item.name, data.item.contactnumber, data.item.email, data.item.department, data.item.role, data.item.position, true, 'edit')"><CIcon name="cilPencil"/></CButton>
                <CButton color="danger" @click="employeeinfo(data.item.id, data.item.emplonumber, data.item.username, data.item.name, data.item.contactnumber, data.item.email, data.item.department, data.item.role, data.item.position,false,'delete')"><CIcon name="cilXCircle"/></CButton>
              </td>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>

      <div>
        <CModal
          title="New Employee Form"
          :show.sync="userForm"
          size="xl"
          @update:show="closeModal">
          <CCard>
            <CCardHeader>
              <strong>Employee Information</strong>
            </CCardHeader>
            <CCardBody>
              <CForm>
                <CInput horizontal :value="id" id="id" :hidden="true" />
                <CInput
                  label="*Employee Number"
                  horizontal
                  :value="emplonumber"
                  id="emplonumber"
                  required
                  was-validated
                />
                <CInput
                  label="*Username"
                  horizontal
                  :value="username"
                  id="username"
                  required
                  was-validated
                />
                <CInput
                  label="*Full Name"
                  horizontal
                  :value="name"
                  id="name"
                  required
                  was-validated
                />
                <CInput
                  label="*Contact Number"
                  horizontal
                  :value="contactnumber"
                  id="contactnumber"
                  required
                  was-validated
                />
                <CInput
                  label="*Email"
                  horizontal
                  name="email"
                  :value="email"
                  type="email"
                  id="email"
                  required
                  was-validated
                />
                <CInput
                  label="*Role"
                  horizontal
                  :value="role"
                  id="role"
                  required
                  was-validated
                />
                <CInput
                  label="*Position"
                  horizontal
                  :value="position"
                  id="position"
                  required
                  was-validated
                />
                <CInput
                  label="*Department"
                  horizontal
                  :value="department"
                  id="department"
                  required
                  was-validated
                />
              </CForm>
              <p style="color: red">* indicates required fields</p>
            </CCardBody>
          </CCard>
          <template #footer-wrapper></template>
        </CModal>
      </div>
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";


export default {
  // name: "Employees",
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  data() {
    return {
      items: [],
      fields: [
        { key: "id", label: "User ID", _classes: "font-weight-bold" },
        { key: "emplonumber", label: "Employee Number" },
        { key: "username", label: "Username" },
        { key: "name", label: "Name" },
        { key: "contactnumber", label: "Contact Number" },
        { key: "email", label: "Email" },
        { key: "department", label: "Department" },
        { key: "role", label: "Role" },
        { key: "position", label: "Position" },
        { key: 'action', label: ''},
      ],
      activePage: 1,
      userForm: false,
    };
  },
  mounted: function () {
    axios
      .get("http://localhost:1235/api/employees/list")
      .then((response) => { 
        // if (response.data.accessToken) {
        //   sessionStorage.setItem('user', JSON.stringify(response.data));
        // }
        //JSON.stringify(this.currentUser.accessToken);
        var items = [];
        var result = JSON.stringify(response.data);
        result = JSON.parse(result);
        result.forEach(element=>{
            var temp = element;
            var test = JSON.parse(temp);
            items.push(test)
          })
        this.items = items;
      })
      // eslint-disable-next-line no-unused-vars
      .catch((err) => {
        // Manage the state of the application if the request
        // has failed
        alert(err)
      });
  },
  watch: {
    $route: {
      immediate: true,
      handler(route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page);
        }
      },
    },
  },
  
  methods: {
    validateForm() {
      var re = /\S+@\S+\.\S+/;
      var no1 = /^(01)[0-46-9][]*[0-9]{7,8}$/;
      var emplonumber = document.getElementById("emplonumber").value;
      var strUser = document.getElementById("username").value;
      var strName = document.getElementById("name").value;
      var contactnumber = document.getElementById("contactnumber").value;
      var strEmail = document.getElementById("email").value;
      var strRoles = document.getElementById("role").value;
      var strPosition = document.getElementById("position").value;
      var strDept = document.getElementById("department").value;

      if (emplonumber == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Employee Number must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }
      if (strName == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Name must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }
      if (strUser == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Username must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (contactnumber == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Contact Number must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (!no1.test(contactnumber)) {
        this.$swal({
                    title: 'Notice',
                    text: 'Contact Number Format Wrong! The Contact Number must without "-"',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (strEmail == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Email must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (!re.test(strEmail)) {
        this.$swal({
                    title: 'Notice',
                    text: 'Email Format Wrong!',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (strRoles == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Role must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }    
      if (strPosition == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Position must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }   
      if (strDept == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Department must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      return true;

  },
    getBadge (status) {
      switch (status) {
        case 'Active': return 'success'
        case 'Inactive': return 'secondary'
        case 'Pending': return 'warning'
        case 'Banned': return 'danger'
        default: 'primary'
      }
    },
    closeModal(status, evt, accept) {
      if (accept) {
        if(this.validateForm()){
        switch(this.status){
          case 'new':
            this.APIConnection("Add");
            break;
          case 'edit':
            this.APIConnection("Update");
            break;
        }
        axios
          .get("http://localhost:1235/api/employees/list")
          .then((response) => {
          //   if (response.data.accessToken) {
          // sessionStorage.setItem('user', JSON.stringify(response.data));
          var items = [];
          var result = JSON.stringify(response.data);
          result = JSON.parse(result);
          result.forEach(element=>{
              var temp = element;
              var test = JSON.parse(temp);
              items.push(test)
            })
          this.items = items;
          this.userForm = false;
        })
          .catch((err) => {
            // Manage the state of the application if the request
            // has failed
            alert(err)
        });
        }else
          this.userForm = true;
      }
    },
    // eslint-disable-next-line no-unused-vars
    pageChange(val) {
      this.$router.push({ query: { page: val } });
    },
    employeeinfo(id, emplonumber, username, name, contactnumber, email, department, role, position, hidden, status) {
      this.userForm = hidden;
      this.status = status;

      if(status == 'delete'){
        var updateURL = "http://localhost:1235/api/employees/updateDelete/id=" + id;
              return axios
                .put(updateURL, {
                  status: 'Inactive',
                  modifyuserid: JSON.stringify(this.currentUser.id)
              }).then((response) => {
                axios
                .get("http://localhost:1235/api/employees/list")
                .then((response) => {
                  this.$swal({
                    title: 'Notice',
                    text: 'Successfully Deleted!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var items = [];
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      result.forEach(element=>{
                        var temp = element;
                        var test = JSON.parse(temp);
                        items.push(test)
                    })
                        this.items = items;
                    } 
                  })
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
      }else if(status == 'new'){
        this.id = '';
        this.emplonumber = ''
        this.username = '';
        this.name = '';
        this.contactnumber = '';
        this.email = '';
        this.role = '';
        this.position = '';
        this.department = '';
      }else{
        this.id = id;
        this.emplonumber = emplonumber;
        this.username = username;
        this.name = name;
        this.contactnumber = contactnumber;
        this.email = email;
        this.role = role;
        this.position = position;
        this.department = department;
      }
    },
      APIConnection(Mode) {
      var strUID = document.getElementById("id").value;
      var emplonumber = document.getElementById("emplonumber").value;
      var strUser = document.getElementById("username").value;
      var strName = document.getElementById("name").value;
      var contactnumber = document.getElementById("contactnumber").value;
      var strEmail = document.getElementById("email").value;
      var strDept = document.getElementById("department").value;
      var strRoles = document.getElementById("role").value;
      var strPosition = document.getElementById("position").value;
      var strStatus = 'Active';
      var strcreateUID = JSON.stringify(this.currentUser.id);
      var strmodifyUID = JSON.stringify(this.currentUser.id);
      switch (Mode) {
        case "Add":
          var addURL = "http://localhost:1235/api/employees/add";
            return axios
              .post(addURL, {
                emplonumber: emplonumber,
                username: strUser,
                name: strName,
                contactnumber: contactnumber,
                email: strEmail,
                department: strDept,
                role: strRoles,
                position: strPosition,
                status: strStatus,
                createuserid: strcreateUID,
                modifyuserid: strmodifyUID
              }).then((response) => {
                axios
                .get("http://localhost:1235/api/employees/list")
                .then((response) => {
                  this.$swal({
                    title: 'Notice',
                    text: 'Successfully Added!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var items = [];
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      result.forEach(element=>{
                        var temp = element;
                        var test = JSON.parse(temp);
                        items.push(test)
                    })
                        this.items = items;
                    } 
                  })
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
        case "Update":
            var updateURL = "http://localhost:1235/api/employees/update/id=" + strUID;
              return axios
                .put(updateURL, {
                  emplonumber: emplonumber,
                  username: strUser,
                  name: strName,
                  contactnumber: contactnumber,
                  email: strEmail,
                  department: strDept,
                  role: strRoles,
                  position: strPosition,
                  status: strStatus,
                  modifyuserid: strmodifyUID,
                }).then((response) => {
                  axios
                  .get("http://localhost:1235/api/employees/list")
                  .then((response) => {
                    this.$swal({
                    title: 'Notice',
                    text: 'Successfully Updated!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var items = [];
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      result.forEach(element=>{
                        var temp = element;
                        var test = JSON.parse(temp);
                        items.push(test)
                    })
                        this.items = items;
                    } 
                  })
                  })
                })
                  // eslint-disable-next-line no-unused-vars
                  .catch((err) => {
                    // Manage the state of the application if the request
                    // has failed
                    alert(err)
              })
      }
    },
  },
};
</script>

