<template>
<div class="c-app flex-row align-items-center">
      
    <CContainer>
      <CRow class="justify-content-center">
        <CCol md="6">
          <CCardGroup>
            <CCard class="p-4" style="box-shadow:1px 1px 10px 10px; background:#f2f2f2" >
              <CCardBody>
                <CForm >
                  <img alt="Vue logo" 
                  src="../../assets/logo-IRIS.png" 
                  name="logo" 
                  size="custom-size" 
                  :height="80" 
                  viewBox="10 10 110 134"
                  style="position:relative; left:135px; right:100px; top:0px;"
                  />
                  <br/><br/>
                    <h2>Reset Password</h2>
                <div>
                    
                  
                  <CInput id="token" name="token" v-model="token" hidden></CInput>
                  <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
                    <CRow>
                      
                        <CCol class="col-3 col-sm-3">New Password:</CCol>
                        <CCol class="col-9 col-sm-9">
                            <CInput placeholder="Password" type="password" id="password" name="password"  
                            required valid-feedback="Input is valid." invalid-feedback="Please provide at least 6 characters/number." :is-valid="validator1"
                            @keyup.enter="resetPassword()"></CInput>
                        </CCol> 
                    </CRow>
                    <br/>

                    <CRow>
                        <CCol class="col-12 col-sm-12">
                            <CInput label="Re-Enter Password" horizontal type="password" id="retypePass" valid-feedback="Password is Match." 
                            invalid-feedback="Password Not Match." :is-valid="validator2"/>
                        </CCol> 
                    </CRow>
                    <br/>

                    <CRow>
                        <CCol col="12" class="text-right">
                          <CButton class="btn btn-primary " @click="
                          resetPassword()">
                          <span>Reset Password</span>
                          </CButton>
                          
                        </CCol>
                    </CRow>
                    <br/>
    
                </div>
                </CForm>
      

              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
</div>
</template>

<script>

import axios from "axios";
export default {
  el: '#app',
  name: 'ResetPassword',
  
  data(){
    return {
    
      message: '',
      loading: false
    }

  },
  computed: {
  token: {
      get() {
        return this.$route.query.token
      },
      set(value) {
        
        this.$router.replace({  
          query: {
            ...this.$route.query,
            token: value
          }
        })
      },
    }
},


  methods: {

    validator1(val) {
      return val ? val.length >= 6 : false;
    },
    validator2(val) {
      var a = document.getElementById("password").value;
      if (val != a) {
        return false;
      } else {
        return true;
      }
    },

    validateForm() {
      var strPassword = document.getElementById("password").value;
      var strPassword2 = document.getElementById("retypePass").value;

     
      if (strPassword == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Password must be selected',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (strPassword.length <= 5) {
        this.$swal({
                    title: 'Notice',
                    text: 'Password must be Strong',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (strPassword2 == "") {
              this.$swal({
                          title: 'Notice',
                          text: 'Retype Password must be filled',
                          icon: 'Warning',
                          confirmButtonText: 'OK',
                          showLoaderOnConfirm: true
                        })
                        return false
            }
      if (strPassword2 != strPassword) {
              this.$swal({
                          title: 'Notice',
                          text: 'Password must be match',
                          icon: 'Warning',
                          confirmButtonText: 'OK',
                          showLoaderOnConfirm: true
                        })
                        return false
            }
          
      return true;

  },

  resetPassword() {
    if(this.validateForm()){

    var strToken = document.getElementById("token").value;    
    var strPassword = document.getElementById("password").value;
    var addURL = "http://localhost:1235/api/fp/reset_password";
            return axios
              .post(addURL, {
                token: strToken,
                password: strPassword,
              }).then(() => {
                  this.$router.push('/login')
                  this.$swal({
                    title: 'Notice',
                    text: 'Successfully Reset!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
              },
              error => {
              this.message = "Token already expired"
            })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
  }
 
  }
},
};
</script>