<template>
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader>
          <strong> In/Out</strong>
        </CCardHeader>
        <CCardBody>

          <CButton color="success" @click="visitorinfo('', '', '', '', '', '', '', '', '', '', true, 'new')" style="float: right">Check-In</CButton>
          <CDataTable
            hover
            striped
            tableFilter
            :items="items"
            :fields="fields"
            :items-per-page="5"
            :active-page="activePage"
            :pagination="{ doubleArrows: false, align: 'center'}"
            @page-change="pageChange"
            @row-clicked="rowClicked"
            clickable-rows
          >
          <template #status="data">
              <td>
                <CBadge :color="getBadge(data.item.status)">
                  {{data.item.status}}
                </CBadge>
              </td>
              </template>
            <template #action="data" >
              <td>              
                <CButton v-if="data.item.status=='Approve'" @click="checkout(data.item.id, data.item.status)" ><CIcon name="cilAccountLogout" class="mr-2"/>Check Out</CButton>
                </td>
              </template>
            
          </CDataTable>
        </CCardBody>
      </CCard>
      <div>
            <CModal
              title="Check-In Form"
              :show.sync="checkinForm"
              size="xl"
              @update:show="closeModal"
            >
            <CCard>
          <CCardHeader>
            <strong>Check-In Information</strong>
          </CCardHeader>
          <CCardBody>
            <CForm>
              <CInput
                horizontal
                v-model="form.passID"
                id="id"
                :hidden=true
              />
              <CInput
                label="Name"
                horizontal
                v-model="newVisitor.name"
                id="name"
                required 
                was-validated
              />
              <CInput
                label="Email"
                horizontal
                v-model="newVisitor.email"
                id="email"
                required
                was-validated
              />
              <CInput
                label="IC/Passport"
                horizontal
                v-model="newVisitor.icNo"
                id="icNo"
                required
                was-validated
              />
              <CInput
                label="Purpose"
                horizontal
                v-model="newVisitor.purpose"
                id="purpose"
                required
                was-validated
              />
              <CInput
                label="Company"
                horizontal
                v-model="newVisitor.guestCompany"
                id="guestCompany"
                required
                was-validated
              />
              <CInput
                label="Phone"
                horizontal
                v-model="newVisitor.contactNumber"
                id="contactNumber"
                required
                was-validated
              />

              
              <CSelect
                label="Gender"
                horizontal
                :options="genderOption"
                :value.sync='newVisitor.GenderSelect'
                placeholder="Please select Gender"
                id="GenderSelect"
                required
              />
            
              <CRow col='12'>
                <CCol col='3'>
                  <label> Date From </label>
                </CCol>
                <CCol col='9'>
               <datetime
                label="Date From"
                horizontal
                v-model="newVisitor.dateFrom"
                id="dateFrom"
                format="DD/MM/YYYY H:i:s"
                style ="width:793px; "
                :disabledDates="disabledDates"
               
                
                required
                was-validated
              /></CCol>
              </CRow>
              
              <br/>
              <CInput
                label="Duration"
                horizontal
                placeholder="00 Minutes"
                type="number"
                v-model="newVisitor.duration"
                required
                was-validated
              />
              <p style="color:red; margin-left:270px; "> * insert duration in minutes </p>
             
            </CForm>
            <p style="color:red;"> * indicates required fields </p>
          </CCardBody>
        </CCard>
        <template #footer-wrapper></template>
        </CModal>
      </div>
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";
import moment from 'moment';
import datetime from 'vuejs-datetimepicker';

export default {
  //name: 'CheckInOut',
  
  components: { datetime },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  data () {
    return {
      items: [],
      form:{
        passID:"",
      },
      fields: [
        { key: 'id', label: 'Pass No.', _classes: 'font-weight-bold' },
        { key: 'timeStamp', label: 'Date/Time' },
        { key: 'icnumber', label: 'IC/Passport' },
        { key: 'name', label: 'Visitor Name' },
        { key: 'status', label: 'Status' },
        { key: 'action', label: ''},
      ],
      activePage: 1,
      checkinForm: false,
      genderOption: [
        { value: "1", label: "Male" },
        { value: "2", label: "Female" },
      ],
      duration:0,
      disabledDates: { to: moment().subtract(1, 'seconds').toDate() },
      newVisitor: { 
        name:"",
        email: "",
        icNo:"",
        purpose:"",
        guestCompany:"",
        contactNumber:"",
        dateFrom: "",
        GenderSelect: "",
        duration: "",
      }
      
    }
  },
  mounted: function () {
    
    axios
      .get("http://localhost:1235/api/visitor/list")
      .then((response) => {
        var items = [];
        var result1 = response.data;
        result1.forEach(element=>{
          var temp ={...element};

          items.push(temp);
        })
        console.log(items);

        items.sort((a,b)=>{
          var d1 = new Date(a.modifydatetime);
          var d2 = new Date(b.modifydatetime);

          if(d1>d2){
            return -1;
          }

          if(d1<d2){
            return 1;
          }

          return 0;
        });
        this.items = items;

      })

      // eslint-disable-next-line no-unused-vars
      .catch((err) => {
        // Manage the state of the application if the request
        // has failed
        alert(err)
      });

      
  },
  watch: {
    $route: {
      immediate: true,
      handler (route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page)
        }
      }
    }
  },
  methods: {
  
    validateForm() {

    var re = /\S+@\S+\.\S+/;
     var format = 'DD/MM/YYYY HH:mm:ss';
     var now = new Date();
     var inputDate = moment(this.newVisitor.dateFrom, format),
          //currentTime = moment(now).format('DD/MM/YYYY HH:mm:ss');
          
    currentTime = moment(now,format);
      
     // if (moment(strDateFrom).isBefore('2021-09-21 13:00:00')){
       if(moment(inputDate).isBefore(currentTime)){
        this.$swal({
                    title: 'Notice',
                    text: 'Date is not valid',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }

      if (this.newVisitor.name == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Name must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }
      if (this.newVisitor.icNo == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'IC Number must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (this.newVisitor.GenderSelect == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Gender must be selected',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (this.newVisitor.purpose == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Purpose must be selected',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }
      
      if (this.newVisitor.contactNumber == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Phone number must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }
      
      if (this.newVisitor.guestCompany == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Company must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }
      
      if (this.newVisitor.email == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Email must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (!re.test(this.newVisitor.email)) {
        this.$swal({
                    title: 'Notice',
                    text: 'Email Format Wrong!',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      
      if (this.newVisitor.duration == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Duration must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }

      if (this.newVisitor.dateFrom == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Date From must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }

      return true;

  },
    getBadge (status) {
      switch (status) {
        case 'Approve': return 'success'
        case 'Checked Out': return 'secondary'
        case 'Pending': return 'warning'
        case 'Reject': return 'danger'
        default: 'primary'
      }
    },
    // iconselect (status){
    // switch(status){
    //   case 'Approve': return 'cilAccountLogout'
    //   case 'Pending': return 'cilArrowCircleRight'
    //   }
    // },
    // textvalue(status){
    //   switch(status){
    //     case 'Approve': return 'Check Out'
    //     case 'Pending': return 'Click To Approve'
    //   }
    // } ,  

    rowClicked (item, index) {
      this.$router.push({path: `visitorDetails?id=${item.id}`})
      //this.$router.push({path: `approvePage/${item.id}`})
    },

    checkout(id, status){

      if(status == "Approve"){
      var updateURL = "http://localhost:1235/api/visitor/update/id=" + id;
              return axios
                .put(updateURL, {
                  status: 'Checked Out',
                  modifyuserid: JSON.stringify(this.currentUser.id),
              }).then((response) => {
                axios
                .get("http://localhost:1235/api/visitor/list")
                .then((response) => {
                  this.$swal({
                    title: 'Notice',
                    text: 'Successfully Check Out!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var items = [];
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      console.log(result)
                      result.forEach(element=>{
                          var temp = element;
                          //var test = JSON.parse(temp);
                          items.push(temp)
                        })
                      this.items = items;
                    } 
                  })
                  // var result = JSON.stringify(response.data);
                  // result = JSON.parse(result);
                  // this.items = result;
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
      }
    },

    // approveorcheckout(id, status){
    //   //var strUID = document.getElementById("id").value;
    //   switch(status){
    //     case 'Approve':
    //         //这边拿来做check out function
    //         //比如你的check out 是 call check out api，就在这里做axios 
    //         var updateURL = "http://localhost:1236/api/visitor/update/id=" + id;
    //           return axios
    //             .put(updateURL, {
    //               status: 'Checked Out',
    //               modifyuserid: JSON.stringify(this.currentUser.id),
    //           }).then((response) => {
    //             axios
    //             .get("http://localhost:1236/api/visitor/list")
    //             .then((response) => {
    //               this.$swal({
    //                 title: 'Notice',
    //                 text: 'Successfully Check Out!',
    //                 icon: 'success',
    //                 confirmButtonText: 'OK',
    //                 showLoaderOnConfirm: true
    //               }).then((result) => {
    //                 if(result.value) {
    //                   var items = [];
    //                   var result = JSON.stringify(response.data);
    //                   result = JSON.parse(result);
    //                   console.log(result)
    //                   result.forEach(element=>{
    //                       var temp = element;
    //                       //var test = JSON.parse(temp);
    //                       items.push(temp)
    //                     })
    //                   this.items = items;
    //                 } 
    //               })
    //               // var result = JSON.stringify(response.data);
    //               // result = JSON.parse(result);
    //               // this.items = result;
    //             })
    //           })
    //           // eslint-disable-next-line no-unused-vars
    //           .catch((err) => {
    //           // Manage the state of the application if the request
    //           // has failed
    //             alert(err)
    //         })
    //       break;
    //     case 'Pending':
    //         this.$router.push("../visitorApproval?id=" + id)
    //       break;
    //   }
    // } ,
    
    pageChange (val) {
      this.$router.push({ query: { page: val }})
    },
    closeModal(status, evt, accept) {
      if (accept) { 
      if(this.validateForm()){
           switch(this.status){
          case 'new':
            this.APIConnection("Add");
            break;
          case 'edit':
            this.APIConnection("Update");
            break;
        }
        axios
          .get("http://localhost:1235/api/visitor/list")
          .then((response) => {
          //   if (response.data.accessToken) {
          // sessionStorage.setItem('user', JSON.stringify(response.data));
          var result = JSON.stringify(response.data);
          result = JSON.parse(result);
          this.items = result;
          this.checkinForm = false;

        })
          .catch((err) => {
            // Manage the state of the application if the request
            // has failed
            alert(err)
        });
      }else
        this.checkinForm = true;
    }
       
    },
    visitorinfo(id, name, email, icNo, purpose, GenderSelect, contactNumber, guestCompany, dateFrom, duration, hidden, status) {
      this.checkinForm = hidden;
      this.status = status;
      
      if(status == 'delete'){
        var updateURL = "http://localhost:1235/api/visitor/update/id=" + id;
              return axios
                .put(updateURL, {
                  status: 'Inactive',
                  modifyuserid: JSON.stringify(this.currentUser.id),
              }).then((response) => {
                axios
                .get("http://localhost:1235/api/visitor/list")
                .then((response) => {
                  var items = [];
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      console.log(result)
                      result.forEach(element=>{
                          var temp = element;
                          //var test = JSON.parse(temp);
                          items.push(temp)
                        })
                      this.items = items;
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
      }else if(status == 'new'){
        this.id = '';
        this.name = '';
        this.email = '';
        this.icNo = '';
        this.purpose = '';
        this.gender = '';
        this.contactNumber = '';
        this.guestCompany = '';
        this.dateFrom = '';
        this.duration = '';
      }else{
        this.id = id;
        this.name = name;
        this.email = email;
        this.icNo = icNo;
        this.purpose = purpose;
        this.gender = GenderSelect;
        this.contactNumber = contactNumber;
        this.guestCompany = guestCompany;
        this.dateFrom = dateFrom;
        this.duration = duration;
      }
    },
      APIConnection(Mode) {
      var strStatus = 'Pending';
      var strcreateUID = JSON.stringify(this.currentUser.id);
      var strmodifyUID = JSON.stringify(this.currentUser.id);

      // add total minutes from duration input into dateFrom
      var strDateTo = moment(this.newVisitor.dateFrom, 'DD/MM/YYYY HH:mm:ss').add(this.newVisitor.duration, 'minutes').format('DD/MM/YYYY HH:mm:ss');

      switch (Mode) {
        case "Add":

          var addURL = "http://localhost:1235/api/visitor/add";
            return axios
              .post(addURL, {
                name: this.newVisitor.name,
                email: this.newVisitor.email,
                gender: this.newVisitor.GenderSelect,
                visitPurpose: this.newVisitor.purpose,
                icnumber: this.newVisitor.icNo,
                contactNumber: this.newVisitor.contactNumber,
                guestCompany: this.newVisitor.guestCompany,
                status: strStatus,
                createuserid: strcreateUID,
                modifyuserid: strmodifyUID,
                fromDate: this.newVisitor.dateFrom,
                toDate: strDateTo

              }).then((response) => {
                axios
                .get("http://localhost:1235/api/visitor/list")
                .then((response) => {
                  this.$swal({
                    title: 'Notice',
                    text: 'Successfully Check In!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var items = [];
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      console.log(result)
                      result.forEach(element=>{
                          var temp = element;
                          //var test = JSON.parse(temp);
                          items.push(temp)
                        })
                      this.items = items;
                      var currentDate = moment(currentDate).format('DD/MM/YYYY HH:mm:ss');
                      this.newVisitor.name = '';
                      this.newVisitor.id = '';
                      this.newVisitor.name = '';
                      this.newVisitor.email = '';
                      this.newVisitor.icNo = '';
                      this.newVisitor.purpose = '';
                      this.newVisitor.GenderSelect = '';
                      this.newVisitor.contactNumber = '';
                      this.newVisitor.dateFrom = currentDate;
                      this.newVisitor.guestCompany = '';
                      this.newVisitor.duration = '';
                    } 
                  })
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
        case "Update":
            var updateURL = "http://localhost:1235/api/visitor/update/id=" + this.newVisitor.id;
              return axios
                .put(updateURL, {
                  name: this.newVisitor.name,
                  email: this.newVisitor.email,
                  gender: this.newVisitor.GenderSelect,
                  visitPurpose: this.newVisitor.purpose,
                  icnumber: this.newVisitor.icNo,
                  contactNumber: this.newVisitor.contactNumber,
                  guestCompany: this.newVisitor.guestCompany,
                  status: strStatus,
                  modifyuserid: strmodifyUID,
                  fromDate: this.newVisitor.dateFrom,
                  toDate: strDateTo
                }).then((response) => {
                  axios
                  .get("http://localhost:1235/api/visitor/list")
                  .then((response) => {
                    alert("Add Successfully")
                    var items = [];
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      console.log(result)
                      result.forEach(element=>{
                          var temp = element;
                          //var test = JSON.parse(temp);
                          items.push(temp)
                        })
                      this.items = items;
                  })
                })
                  // eslint-disable-next-line no-unused-vars
                  .catch((err) => {
                    // Manage the state of the application if the request
                    // has failed
                    alert(err)
              })
      }
    },
  },
};
</script>
