<template>
  <div>
    <WidgetsDropdown/>

    <CCard>
      <CCardBody>
        <CRow>
          <CCol sm="5">
            <h4 id="traffic" class="card-title mb-0">Visit Timestamp</h4>
            <div class="small text-muted">March 2021</div>
          </CCol>
          <CCol sm="7" class="d-none d-md-block">
          </CCol>
        </CRow>
        <MainChartExample style="height:300px;margin-top:40px;"/>
      </CCardBody>
      <CCardFooter>
        <CRow class="text-center">
          <CCol md sm="12" class="mb-sm-2 mb-0">
            <div class="text-muted">Overall Check-In</div>
            <strong>50 Users (100%)</strong>
            <CProgress
              class="progress-xs mt-2"
              :precision="1"
              color="success"
              :value="OCheckIn"
            />
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0 d-md-down-none">
            <div class="text-muted">Overall Check-Out</div>
            <strong>35 Users (70%)</strong>
            <CProgress
              class="progress-xs mt-2"
              :precision="1"
              color="info"
              :value="OCheckOut"
            />
          </CCol>
          <CCol md sm="12" class="mb-sm-2 mb-0">
            <div class="text-muted">BlackList</div>
            <strong>5 Users (10%)</strong>
            <CProgress
              class="progress-xs mt-2"
              :precision="1"
              color="danger"
              :value="BlackList"
            />
          </CCol>

          <CCol md sm="12" class="mb-sm-2 mb-0 d-md-down-none">
            <div class="text-muted">Overall Visitors</div>
            <strong>Average Rate (40.15%)</strong>
            <CProgress
              class="progress-xs mt-2"
              :precision="1"
              :value="AverageRate"
            />
          </CCol>
        </CRow>
      </CCardFooter>
    </CCard>
    <CRow>
      <CCol md="12">
        <CCard>
        <CCardHeader>
          Visitors Pending
        </CCardHeader>
        <CCardBody>
          <CDataTable
            hover
            striped
            tableFilter
            @row-clicked="rowClicked"
            clickable-rows
            :items="items"
            :fields="fields"
            :items-per-page="5"
            :active-page="activePage"
            :pagination="{ doubleArrows: false, align: 'center'}"
            @page-change="pageChange"
          >
            <template #visitDepartment="data">
              <td>{{data.item.visitDepartment?data.item.visitDepartment:"-"}}</td>
            </template>

            <template #status="data">
              <td>
                <CBadge :color="getBadge((data.item.status == null)?'Pending':data.item.status)" class="mr-5">
                  {{(data.item.status == null)?'Pending':data.item.status}}
                </CBadge>
<!--                <CButton color="" @click="this.$router.push({path: `approvePage/${index + 1}`})"><CIcon name="cilArrowCircleRight" class="mr-2"/>Click to Approve</CButton>-->
              </td>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import MainChartExample from '../charts/MainChartExample'
import WidgetsDropdown from '../widgets/WidgetsDropdown'
import axios from "axios";

export default {
  name: 'Dashboard',
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  components: {
    MainChartExample,
    WidgetsDropdown
  },

  data () {
    return {
    OCheckIn:100,
    OCheckOut:70,
    VInside:15,
    BlackList:10,
    OVisitor:50, 
    NEmployees:40,
    NUsers:50,
    AverageRate:40,
    
    items: [],
    fields: [
        { key: 'name', label: 'Visitor Name', _classes: 'font-weight-bold' },
        { key: 'modifydatetime', label: 'Check-In Time'},
        { key: 'visitDepartment', label: 'Department Name'},
        { key: 'visitPurpose', label: 'Purpose Name'},
        { key: 'status', label: 'Status'},
 
      ],
      activePage: 1,

    }
  },
mounted: function () {
    axios
      .get("http://localhost:1235/api/visitor/list")
      .then((response) => {
        // fix unexpected token on json
        var items = [];
        var result1 = response.data;
        result1.forEach(element=>{
          var temp ={...element};

          items.push(temp);
        })

        items.sort((a,b)=>{
          var d1 = new Date(a.modifydatetime);
          var d2 = new Date(b.modifydatetime);

          if(d1>d2){
            return -1;
          }

          if(d1<d2){
            return 1;
          }

          return 0;
        });
        this.items = items;
        console.log(this.items);

        var lsPending = this.items.filter(function(item){
          return item.status=="Pending";
        });

        this.items = lsPending;
      })
      // eslint-disable-next-line no-unused-vars
      .catch((err) => {
        // Manage the state of the application if the request
        // has failed
        alert(err)
    });
  },
watch: {
    $route: {
      immediate: true,
      handler (route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page)
        }
      }
    }
  },

  methods: {
    color (value) {
      let $color
      if (value <= 25) {
        $color = 'info'
      } else if (value > 25 && value <= 50) {
        $color = 'success'
      } else if (value > 50 && value <= 75) {
        $color = 'warning'
      } else if (value > 75 && value <= 100) {
        $color = 'danger'
      }
      return $color
    },
    rowClicked (item, index) {
      console.log(item);
      // this.$router.push({path: `visitorDetails?id=${index + 1}`})
      this.$router.push({path: `visitorDetails?id=${item.id}`})
    },
    getBadge (status) {
      switch (status) {
        case 'Active': return 'success'
        case 'Inactive': return 'secondary'
        case 'Pending': return 'warning'
        case 'Banned': return 'danger'
        default: 'primary'
      }
    },
    pageChange (val) {
      this.$router.push({ query: { page: val }})
    }
  }
}
</script>
