<template>
  <CDropdown
    inNav
    class="c-header-nav-items"
    placement="bottom-end"
    add-menu-classes="pt-0"
  >
    <template #toggler>
      <CHeaderNavLink>
        <div class="c-avatar">
          
        <CIcon name="cil-user" />
        </div>
      </CHeaderNavLink>
    </template>
    <CDropdownHeader
      tag="div"
      class="text-center"
      color="light"
    >
      <strong>Settings</strong>
    </CDropdownHeader>
    <CDropdownItem>
      <a class="nav-link" href @click.prevent='profile'>
            <CIcon name="cil-user" /> Profile
          </a>
      
    </CDropdownItem>
    <CDropdownDivider/>
    <CDropdownItem>
      <a class="nav-link" href @click.prevent="logOut">
            <CIcon name="cil-lock-locked" /> Logout
          </a>
      
    </CDropdownItem>
  </CDropdown>
</template>

<script>
export default {
  name: 'TheHeaderDropdownAccnt',
  data () {
    return { 
      itemsCount: 42
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  methods: {
    logOut() {
      this.$store.dispatch("auth/logout", this.currentUser);
      this.$router.push("/login");
    },
    profile() {
      this.$router.push("/profile");
    },
  },
};
</script>

<style scoped>
  .c-icon {
    margin-right: 0.3rem;
  }
</style>