<template>
  <CRow>
    <CCol>
      <CWidgetDropdown color="primary" :header="TCheckIn" text="Today Check-In">
        <template #footer>
          <CChartLineSimple
            pointed
            class="mt-3 mx-3"
            style="height:70px"
            :data-points="[65, 59, 84, 84, 51, 55, 40]"
            point-hover-background-color="primary"
            label="Members"
            labels="months"
          />
        </template>
      </CWidgetDropdown>
    </CCol>
    <CCol> 
      <CWidgetDropdown color="danger" :header="TCheckOut" text="Today Check-Out">
        <template #footer>
          <CChartLineSimple
            pointed
            class="mt-3 mx-3"
            style="height:70px"
            :data-points="[1, 18, 9, 17, 34, 22, 11]"
            point-hover-background-color="info"
            :options="{ elements: { line: { tension: 0.00001 }}}"
            label="Members"
            labels="months"
          />
        </template>
      </CWidgetDropdown>
    </CCol>
    <CCol>
      <CWidgetDropdown color="primary" :header="OCheckIn" text="Overall Check-In">
        <template #footer>
          <CChartLineSimple
            pointed
            class="mt-3 mx-3"
            style="height:70px"
            :data-points="[65, 59, 84, 84, 51, 55, 40]"
            point-hover-background-color="primary"
            label="Members"
            labels="months"
          />
        </template>
      </CWidgetDropdown>
    </CCol>
    <CCol>
      <CWidgetDropdown color="danger" :header="OCheckOut" text="Overall Check-Out">
        <template #footer>
          <CChartLineSimple
            pointed
            class="mt-3 mx-3"
            style="height:70px"
            :data-points="[65, 59, 84, 84, 51, 55, 40]"
            point-hover-background-color="primary"
            label="Members"
            labels="months"
          />
        </template>
      </CWidgetDropdown>
    </CCol>
    <CCol>
      <CWidgetDropdown color="warning" :header="VInside" text="Visitor Inside">
        <template #footer>
          <CChartLineSimple
            pointed
            class="mt-3 mx-3"
            style="height:70px"
            :data-points="[65, 59, 84, 84, 51, 55, 40]"
            point-hover-background-color="primary"
            label="Members"
            labels="months"
          />
        </template>
      </CWidgetDropdown>
    </CCol> 
  </CRow>
</template>

<script>
// import { CChartLineSimple, CChartBarSimple } from '../charts/index.js'
import { CChartLineSimple} from '../charts/index.js'

export default {
  name: 'WidgetsDropdown',
  components: { CChartLineSimple,
    // CChartBarSimple
    },

  data () {
    return {
      TCheckIn:"20",
      TCheckOut:"5",
      OCheckIn:"50",
      OCheckOut:"35",
      VInside:"15",
    }
  }
}

</script>
