<template>
  <CRow>
    <CCol col="16" xl="8">
      <h6>Workflow Progress Bar</h6>
           <div class="progress mb-3" style="height: 30px;">
            <div v-for="(item) in reviewerData" :key="item.name" :class="item.classObject"  role="progressbar" :style="{width: (100 / reviewerData.length).toString() + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <CButton class="text-white">{{item.name}}
                <CIcon v-if="item.classObject['bg-success']" name="cilCheckCircle" class="ml-2 mb-1"/>
                <CIcon v-if="item.classObject['bg-info']" name="cilArrowCircleRight" class="ml-2 mb-1"/>
              </CButton>
            </div>
          </div>
      <CCard>
        <CCardHeader class="font-weight-bold">
          <h5>Visitor Details</h5>
        </CCardHeader>
        <CCardBody>
          
          <CDataTable
            striped
            small
            fixed
            :items="visitorData"
            :fields="fields"
          />
        </CCardBody>
        <CCardFooter>
          <CButton color="warning" style="float: right" @click="goBack">Back</CButton>
          <CButton color="danger" style="float: right" @click="approveinfo('', '', true, 'reject')" class="mr-1">Reject</CButton>
          <CButton color="primary" style="float: right" @click="approveinfo('', '', true, 'approve')" class="mr-1">Approve</CButton>
        </CCardFooter>
      </CCard>
      <div>
        <CModal
          title="Action Remark"
          :show.sync="approvepage"
          size="xl"
          @update:show="closeModal"
        >
          <CCard>
            <CCardHeader>
              <strong>Action Details</strong>
            </CCardHeader>
            <CCardBody>
              <CForm>
                <CTextarea
                  rows="7"
                  label="*Remark:"
                  horizontal
                  :value="remark"
                  id="remark"/>
              </CForm>
              <p style="color: red">* indicates required fields</p>
            </CCardBody>
          </CCard>
          <template #footer-wrapper></template>
        </CModal>
      </div>
    </CCol>
    <CCol>
      <div class="card mt-5" style="height: 40rem;">
        <div class="card-body">
          <h5 class="card-title mb-4">Approver Audit Log</h5>
          <p class="card-text" v-for="(log) in logs" :key="log.datetime">{{log.datetime}} <br/> {{log.positionname}} ({{log.employeename}}) have {{log.action}} the {{log.visitorname}} <br/>Remarks: {{log.remarks}}</p>
        </div>
      </div>
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";

export default {
  name: 'Visitor',
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.usersOpened = from.fullPath.includes('visitorList')
    })
  },
  data () {
    return {
      transid:[],
      transindex: 0,
      items:[],
      logs:[],
      Data:[],
      usersOpened: null,
      approvepage: false,
      stageNumber: "",
      progressClass: {
          'progress-bar' : true,
          'bg-success': true,
          'bg-info':false,
          'bg-econdary':false
      }
    }
  },
  props:{
    id:{
      required:true,
      type:String
    }
  },
  
  created: function() {
    const id = this.id
    console.log("id",id);
      axios
      .get("http://localhost:1236/api/visitor/list/id=" + id)
      .then((response) => {
        var items = [];
        var result = JSON.stringify(response.data);
        result = JSON.parse(result);
        result.forEach(element=>{
            var temp = element;
            var test = JSON.parse(temp);
            test.id = test.id + ""
            items.push(test)
          })
        this.items = items;
      })
      .catch((err) => {
        alert(err)
      });

      axios
      .get("http://localhost:1236/wftransaction/list/visitorid=" + id)
      .then((response) => {
        var Data = [];
        var stageNumber = "";
        var transid = [];
        var result = JSON.stringify(response.data);
        result = JSON.parse(result);
        console.log(result)
        result.forEach(element=>{
            var temp = element;
            var test = JSON.parse(temp);
            test.stage = test.stage + ""
            test.id = test.id + ""
            Data.push({
              "name" : test.positionname,
            })
            stageNumber += test.stage
            transid.push({
              "id" : test.id,
            })
          })
        this.Data = Data;
        this.stageNumber = stageNumber;
        this.transid = transid;
        console.log(transid);
      })
      .catch((err) => {
        //alert(err)
      });

      axios
      .get("http://localhost:1236/wflog/list/visitorid=" + id)
      .then((response) => {
        var logs = [];
        var result = JSON.stringify(response.data);
        result = JSON.parse(result);
        result.forEach(element=>{
            var temp = element;
            var test = JSON.parse(temp);
            logs.push({
              "datetime" : test.createdatetime,
              "action" : test.action,
              "positionname" : test.positionname,
              "employeename" : test.employeename,
              "visitorname" : test.visitorname,
              "remarks" : test.remarks
            })
          })
        this.logs = logs;
        console.log(logs);
      })
      .catch((err) => {
        alert(err)
      });
  },

  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    fields () {
      return [
        { key: 'key', label: 'Key : ', _style: 'width:100px', _classes: "font-weight-bold"},
        { key: 'value', label: 'Value :  ', _style: 'width:150px;' },
      ]    
    },
    
    visitorData () {
      var vDetails = null;
      const visitor = this.items[0];
      const visitorDetails = visitor ? Object.entries(visitor) : [['ID', 'Not found']]
      vDetails = visitorDetails.map(([key, value]) => { return { key, value } })
      return vDetails;
    },
    reviewerData(){
      var tempindex = 0;
      this.Data.forEach((el,n)=>{
        if(this.stageNumber.charAt(n) == '1'){
          this.transindex = tempindex;
          this.progressClass['bg-success']= false;
          el.classObject =   Object.assign({}, this.progressClass);
          el.classObject['bg-info']= true;
          this.progressClass['bg-secondary']=true;
        }else{
          el.classObject = Object.assign({}, this.progressClass);
        }
        tempindex++;
      });
      this.progressClass['bg-success']= true;
      this.progressClass['bg-secondary']=false;
      return this.Data;
    }
  },
  
  methods: {
    validateForm() {
     var strremark = document.getElementById("remark").value;

       if (strremark == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Remarks must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      return true;
  },
    goBack() {
      this.usersOpened ? this.$router.go(-1) : this.$router.push({path: '/visitorList'})
    },
    closeModal(status, evt, accept){
      if (accept) {
        if(this.validateForm()){
        switch(this.status){
          case 'approve':
            this.APIConnection("approve");
            break;
          case 'reject':
            this.APIConnection("reject");
            break;
        }
        axios
        .get("http://localhost:1236/api/visitor/list/id=" + id)
        .then((response) => {
          var items = [];
          var result = JSON.stringify(response.data);
          result = JSON.parse(result);
          result.forEach(element=>{
              var temp = element;
              var test = JSON.parse(temp);
              test.id = test.id + ""
              items.push(test)
            })
          this.items = items;
          this.approvepage = false;
        })
        .catch((err) => {
          alert(err)
        });
      }else
        this.approvepage = true;
      //   const id = this.$route.params.id  
      //  this.$swal({
      //     title: 'Notice',
      //     text: 'The Visitor request have been approved !',
      //     icon: 'success',
      //     confirmButtonText: 'OK',
      //     showLoaderOnConfirm: true
      //   }).then((result) => {
      //     if(result.value) {
      //       this.$router.push({path: `/approvePage/${id}`});
      //     } 
      //   })
       }
    },
    approveinfo(Rid, remark, hidden, status) {
      this.approvepage = hidden;
      this.status = status;
      this.Rid = '';
      this.remark = '';
    },
    APIConnection(Mode) {
      const id = this.$route.params.id
      var strremark = document.getElementById("remark").value;
      var strmodifyUID = JSON.stringify(this.currentUser.id);
      switch (Mode) {
        case "approve":
          var addURL = "http://localhost:1236/wftransaction/update/id=" + this.transid[this.transindex].id;
            return axios
              .put(addURL, {
                remarks: strremark,
                status: "Approve",
                modifyuserid: strmodifyUID
              }).then((response) => {
                axios
                .get("http://localhost:1236/wftransaction/list/visitorid=" + id)
                .then((response) => {
                  this.$swal({
                    title: 'Notice',
                    text: 'The request have been approved!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      this.transindex++;
                      console.log(this.transindex);
                      console.log(this.transid.length);
                      if(this.transindex >= this.transid.length){
                        this.$router.push("/CheckInOut");
                      }else{
                        this.$router.push({path: `/approvePage/${id}`});
                        var Data = [];
                        var stageNumber = "";
                        var result = JSON.stringify(response.data);
                        result = JSON.parse(result);
                        console.log(result)
                        result.forEach(element=>{
                            var temp = element;
                            var test = JSON.parse(temp);
                            test.stage = test.stage + ""
                            Data.push({
                              "name" : test.positionname,
                            })
                            stageNumber += test.stage
                          })
                        this.Data = Data;
                        this.stageNumber = stageNumber;
                        //this.$router.push({path: `/approvePage/${id}`});
                        axios
                          .get("http://localhost:1236/wflog/list/visitorid=" + id)
                          .then((response) => {
                            var logs = [];
                            var result = JSON.stringify(response.data);
                            result = JSON.parse(result);
                            result.forEach(element=>{
                                var temp = element;
                                var test = JSON.parse(temp);
                                logs.push({
                                  "datetime" : test.createdatetime,
                                  "action" : test.action,
                                  "positionname" : test.positionname,
                                  "visitorname" : test.visitorname,
                                  "remarks" : test.remarks
                                })
                              })
                            this.logs = logs;
                            console.log(logs);
                          })
                          .catch((err) => {
                            alert(err)
                          });
                      } 
                    }
                  })  
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
        case "reject":
            var updateURL = "http://localhost:1236/wftransaction/update/id=" + this.transid[this.transindex].id;
              return axios
                .put(updateURL, {
                  remarks: strremark,
                  status: "Reject",
                  modifyuserid: strmodifyUID
                }).then((response) => {
                  axios
                  .get("http://localhost:1236/wftransaction/list/visitorid=" + id)
                  .then((response) => {
                    this.$swal({
                    title: 'Notice',
                    text: 'The request have been rejected!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var Data = [];
                      var stageNumber = "";
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      console.log(result)
                      result.forEach(element=>{
                          var temp = element;
                          var test = JSON.parse(temp);
                          test.stage = test.stage + ""
                          Data.push({
                            "name" : test.positionname,
                          })
                          stageNumber += test.stage
                        })
                      this.Data = Data;
                      this.stageNumber = stageNumber;
                      this.$router.push("/visitorList");
                    } 
                  })  
                  })
                })
                  // eslint-disable-next-line no-unused-vars
                  .catch((err) => {
                    // Manage the state of the application if the request
                    // has failed
                    alert(err)
              })
      }
    },
  }
}
</script>
