<template>
  <CRow>
    <CCol col="16" xl="8">
      <h6>Workflow Progress Bar</h6>
           <div class="progress mb-3" style="height: 30px;">
            <div v-for="(item) in reviewerData" :key="item.name" :class="item.classObject"  role="progressbar" :style="{width: (100 / reviewerData.length).toString() + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <CButton class="text-white">{{item.name}}
                <CIcon v-if="item.classObject['bg-success']" name="cilCheckCircle" class="ml-2 mb-1"/>
                <CIcon v-if="item.classObject['bg-info']" name="cilArrowCircleRight" class="ml-2 mb-1"/>
              </CButton>
            </div>
          </div>
      <CCard>
        <CCardHeader class="font-weight-bold">
          <h5>Visitor Details</h5>
        </CCardHeader>
        <CCardBody>
          
          <CDataTable
            striped
            small
            fixed
            :items="visitorData"
            :fields="fields"
          />
        </CCardBody>
        <CCardFooter>
          <CButton color="warning" style="float: right" @click="goBack">Back</CButton>
          <CButton color="danger" style="float: right" @click=" approvepage = true " class="mr-1">Reject</CButton>
          <CButton color="primary" style="float: right" @click=" approvepage = true " class="mr-1">Approve</CButton>
        </CCardFooter>
      </CCard>
      <div>
        <CModal
          title="Approve Remark"
          :show.sync="approvepage"
          size="xl"
          @update:show="closeModal"
        >
          <CCard>
            <CCardHeader>
              <strong>Approve Details</strong>
            </CCardHeader>
            <CCardBody>
              <CForm>
                <CInput horizontal :value="id" id="id" :hidden="true" />
                <CTextarea
                  rows="7"
                  label="*Remark:"
                  horizontal
                  :value="Remark"
                  id="Remark"/>
              </CForm>
              <p style="color: red">* indicates required fields</p>
            </CCardBody>
          </CCard>
          <template #footer-wrapper></template>
        </CModal>
      </div>
    </CCol>
    <CCol>
      <div class="card mt-5" style="height: 40rem;">
        <div class="card-body">
          <h5 class="card-title mb-4">Approver Audit Log</h5>
          <p class="card-text">16/04/2021 18:33:00 <br/> Manager have approve the Visitor John <br/>Remarks: </p>
        </div>
      </div>
    </CCol>
  </CRow>
</template>

<script>
import visitorData from './visitorData'
export default {
  name: 'Visitor',
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.usersOpened = from.fullPath.includes('visitorList')
    })
  },
  data () {
    return {
      usersOpened: null,
      approvepage: false,
      fakeData:[{name:'Jia Wei'},{name:'Shawn'},{name:'Alex'},{name:'Ali'},{name:'Abu'},{name:'PP'}],
      stageNumber:"010000",
      progressClass: {
      'progress-bar' : true,
      'bg-success': true,
      'bg-info':false,
      'bg-econdary':false
  }
    }
  },
  computed: {
    fields () {
      return [
        { key: 'key', label: 'Key : ', _style: 'width:100px', _classes: "font-weight-bold"},
        { key: 'value', label: 'Value :  ', _style: 'width:150px;' },
      ]    
    },
    
    visitorData () {
      const id = this.$route.params.id
      const visitor = visitorData.find((visitor, index) => index + 1 == id)
      const visitorDetails = visitor ? Object.entries(visitor) : [['id', 'Not found']]
      return visitorDetails.map(([key, value]) => { return { key, value } })
    },
    visibleData () {
      return this.visitorData.filter(param => param.key !== 'name')
    },
    name() {
      return this.visitorData.filter(param => param.key === 'name')[0].value
    },
    reviewerData(){
      this.fakeData.forEach((el,n)=>{
        if(this.stageNumber.charAt(n) == '1'){
          this.progressClass['bg-success']= false;
          el.classObject =   Object.assign({}, this.progressClass);
          el.classObject['bg-info']= true;
          this.progressClass['bg-secondary']=true;
        }else{
          el.classObject = Object.assign({}, this.progressClass);
        }
      });
      return this.fakeData;
    }
  },
  methods: {
    goBack() {
      this.usersOpened ? this.$router.go(-1) : this.$router.push({path: '/visitorList'})
    },
    closeModal(status, evt, accept){
      if (accept) {
        const id = this.$route.params.id  
       this.$swal({
          title: 'Notice',
          text: 'The Visitor request have been approved !',
          icon: 'success',
          confirmButtonText: 'OK',
          showLoaderOnConfirm: true
        }).then((result) => {
          if(result.value) {
            this.$router.push({path: `/approvePage3/${id}`});
          } 
        })
      }
    }
  }
}
</script>
