<template>
  <CRow>
    <CCol col="16" xl="12">

      <CCard>
        <CCardHeader class="font-weight-bold">
          <br/>
          <h3 class="text-center">VISITOR DETAILS</h3>
          <br/>
        </CCardHeader>
        <CCardBody>
            <br/>
            <CRow>
            <CCol class="col-4 col-sm-4 text-center">
                <!-- <CImg src="https://picsum.photos/300/?image=1025" shape="rounded"></CImg> -->
                <!-- <div v-if="image!==null">
                  <CImg :src="image" shape="rounded" class="col-10 text-center" />
                </div> -->

                <img :src="image" @error="$event.target.src='upload/default.jpg'" shape="rounded" class="col-10 text-center"/>

                <!-- <CImg src="/images/141.png" shape="rounded"/> -->
                <!-- <CImg :src="foo_image" shape="rounded"></CImg> -->
                <br/>
                <br/>
                <hr/>
                
                
            </CCol>

            <CCol col="8">

                <CRow>
                    <CCol class="col-4 col-sm-4 text-left"> <h3>{{this.post.name}}</h3></CCol>
                    <CCol class="col-1 col-sm-1 text-left"></CCol>
                    <CCol class="col-3 col-sm-3 text-left">
                        <button v-if="this.post.status=='Approve'" class="btn btn-block btn-outline-info" type="button" disabled="">{{this.post.status}}</button>
                        <button v-if="this.post.status=='Reject'" class="btn btn-block btn-outline-danger" type="button" disabled="">{{this.post.status}}</button>
                        <CButton v-if="this.post.status=='Pending'" class="btn btn-block btn-outline-primary" type="button" @click="visitorApproval()">{{this.post.status}}</CButton>
                        <button v-if="this.post.status=='Checked Out'" class="btn btn-block btn-outline-dark" type="button" disabled="">{{this.post.status}}</button>
                    </CCol> 
                </CRow>
                <br/>
                <br/>

                
                <CRow>
                    <CCol class="col-3 col-sm-3 text-left"> <span style="margin-right:10px"><CIcon name="cilAirplay" class="ml-2 mb-2"/></span> <strong>Company :</strong></CCol>
                    <CCol class="col-5 col-sm-5 text-left">
                        <h6 style="color:#3399ff">{{this.post.guestCompany}}</h6>
                    </CCol>
                </CRow>
                <br/>

                <CRow>
                    <CCol class="col-3 col-sm-3 text-left"> <span style="margin-right:10px"><CIcon name="cil-envelope-closed" class="ml-2 mb-2"/></span> <strong>Email :</strong></CCol>
                    <CCol class="col-5 col-sm-5 text-left">
                        <h6 style="color:#3399ff">{{this.post.email}}</h6>
                    </CCol>
                </CRow>
                <br/>

                <CRow>
                    <CCol class="col-3 col-sm-3 text-left"> <span style="margin-right:10px"><CIcon name="cil-address-book" class="ml-2 mb-1"/></span> <strong>Phone :</strong></CCol>
                    <CCol class="col-5 col-sm-5 text-left">
                        <h6 style="color:#3399ff">{{this.post.contactNumber}}</h6>
                    </CCol>
                </CRow>
                <br/>

                <CRow>
                    <CCol class="col-3 col-sm-3 text-left"> <span style="margin-right:10px"><CIcon name="cil-contact" class="ml-2 mb-1"/></span> <strong>IC Number :</strong></CCol>
                    <CCol class="col-5 col-sm-5 text-left">
                        <h6 style="color:#3399ff">{{this.post.icnumber}}</h6>
                    </CCol>
                </CRow>
                <br/>
                <hr/>
                <br/>

                <div class="text-muted"> <strong> OTHER INFORMATION </strong></div>

                <br/>
                <br/>

                <CRow>
                    <CCol class="col-3 col-sm-3 text-left"> <span style="margin-right:10px"><CIcon name="cil-user" class="ml-2 mb-2"/></span> <strong>Gender :</strong></CCol>
                    <CCol class="col-5 col-sm-5 text-left">
                        <h6 style="color:#3399ff" v-if="this.post.gender==1">Male</h6>
                        <h6 style="color:#3399ff" v-if="this.post.gender==2">Female</h6>
                    </CCol>
                </CRow>
                <br/>

                <CRow>
                    <CCol class="col-3 col-sm-3 text-left"> <span style="margin-right:10px"><CIcon name="cil-calendar" class="ml-2 mb-1"/></span> <strong>From Date :</strong></CCol>
                    <CCol class="col-5 col-sm-5 text-left">
                        <h6 style="color:#3399ff">{{this.post.fromDate}}</h6>
                    </CCol>
                </CRow>
                <br/>

                <CRow>
                    <CCol class="col-3 col-sm-3 text-left"> <span style="margin-right:10px"><CIcon name="cil-calendar" class="ml-2 mb-1"/></span> <strong>To Date :</strong></CCol>
                    <CCol class="col-5 col-sm-5 text-left">
                        <h6 style="color:#3399ff">{{this.post.toDate}}</h6>
                    </CCol>
                </CRow>
                <br/>

                <CRow>
                    <CCol class="col-3 col-sm-3 text-left"> <span style="margin-right:10px"><CIcon name="cil-library-add" class="ml-2 mb-2"/></span> <strong>Remarks :</strong></CCol>
                    <CCol class="col-5 col-sm-5 text-left">
                        <h6 style="color:#3399ff">{{this.post.remarks}}</h6>
                    </CCol>
                </CRow>
                <br/>

                <CRow>
                    <CCol class="col-3 col-sm-3 text-left"> <span style="margin-right:10px"><CIcon name="cil-layers" class="ml-2 mb-1"/></span> <strong>Purpose :</strong></CCol>
                    <CCol class="col-5 col-sm-5 text-left">
                        <h6 style="color:#3399ff">{{this.post.visitPurpose}}</h6>
                    </CCol>
                </CRow>
                <br/>
   
            </CCol>
            </CRow>
        </CCardBody>
        
      </CCard>
    </CCol>
    
  </CRow>
</template>

<script>
import axios from "axios";
export default {
  name: 'visitorDetails',

  data(){
    return {
      
      id : '',
      post: '',
      image: '/upload/' +this.$route.query.id+ '.jpg',
    }

  },
  
methods: {


    visitorApproval(){
        const id = parseInt(this.$route.query.id)
      this.$router.push("visitorApproval?id=" + id)
    },
},

  mounted: function () {
  
    //var idVisitor = document.getElementById("idVisitor").value
    const idVisitor = parseInt(this.$route.query.id)
    axios
      
      
      .get("http://localhost:1235/api/visitor/list/" + idVisitor)
      .then((response) => { 
        this.post = response.data;
        console.log(this.post);
      })
      // eslint-disable-next-line no-unused-vars
      .catch((err) => {
        // Manage the state of the application if the request
        // has failed
        alert(err)
      });


    //   let image = null;
    //   axios
    //   .get("http://localhost:1235/api/visitor/displayImage/" + idVisitor)
    //       .then((response) => { 
    //     this.post = response.data;
    //     console.log(this.post);
    //     try {

    //     image = ('data:image/png;base64,' + btoa(
    //        new Uint8Array(response.data).reduce((data, byte) => data + 
    //        String.fromCharCode(byte), '')
    //     ));

    // } catch (err) {

    //     console.log(err)

    // }
    // this.foo_image = image
    //   })
      
   }
};
</script>