<template>
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader>
          <strong> Approver for Visitor Registration</strong>
        </CCardHeader>
        <CCardBody>
          <CDataTable
            hover
            striped
            tableFilter
            @row-clicked="rowClicked"
            clickable-rows
            :items="items"
            :fields="fields"
            :items-per-page="5"
            :active-page="activePage"
            :pagination="{ doubleArrows: false, align: 'center'}"
            @page-change="pageChange"
          >
          <template #status="data">
              <td>
                <CBadge :color="getBadge(data.item.status)">
                  {{data.item.status}}
                </CBadge>
              </td>
              </template>
            <template #action="data" >
              <td>              
                <!-- <CButton @click="this.$router.push({path: `approvePage/${index + 1}`})"><CIcon :name="iconselect(data.item.status)" class="mr-2"/>{{textvalue(data.item.status)}}</CButton> -->
                <CButton @click="visitorApproval(data.item.id)"><CIcon :name="iconselect(data.item.status)" class="mr-2"/>{{textvalue(data.item.status)}}</CButton>
              </td>
              </template>
            
          </CDataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";


export default {
  name: 'Visitors',
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  data () {
    return {
      items: [],
      fields: [
        { key: 'id', label: 'Visitor ID', _classes: 'font-weight-bold' },
        { key: 'name', label: 'Visitor Name' },
        { key: 'icnumber', label: 'Visitor IC/Passport' },
        { key: 'timeStamp', label: 'Date/Time' },
        { key: 'status', label: 'Status' },
        { key: 'action', label: ''},
      ],
      activePage: 1,
      checkinForm: false,
      departmentOption: [
        { value: "1", label: "Genaral Office" },
        { value: "2", label: "Sales" },
        { value: "3", label: "Legal" },
      ],
      // purposeOption: [
      //   { value: "1", label: "Meeting" },
      //   { value: "2", label: "Repairing" },
      //   { value: "3", label: "Find Client" },
      // ],
    }
  },
  mounted: function () {
    axios
      .get("http://localhost:1235/api/visitor/list")
      .then((response) => { 
        // if (response.data.accessToken) {
        //   sessionStorage.setItem('user', JSON.stringify(response.data));
        // }
        //JSON.stringify(this.currentUser.accessToken);
        var item = [];
        var result = JSON.stringify(response.data);
        result = JSON.parse(result);
        console.log(result)
        result.forEach(element=>{
            var temp = element;
            console.log(element)
            //var test = JSON.parse(temp);
            //item.push(test)
            item.push(temp)
          })
        this.items = item;
      })
      // eslint-disable-next-line no-unused-vars
      .catch((err) => {
        // Manage the state of the application if the request
        // has failed
        alert(err)
      });
  },
  watch: {
    $route: {
      immediate: true,
      handler (route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page)
        }
      }
    }
  },
  methods: {
    visitorApproval(id){
      //this.$router.push("visitorApproval?id=" + id)
      this.$router.push("visitorDetails?id=" + id)
    },
    getBadge (status) {
      switch (status) {
        case 'Approve': return 'success'
        case 'Checked Out': return 'secondary'
        case 'Pending': return 'warning'
        case 'Reject': return 'danger'
        default: 'primary'
      }
    },
    iconselect (status){
    switch(status){
      case 'Active': return 'cilAccountLogout'
      case 'Pending': return 'cilArrowCircleRight'
      }
    },
    textvalue(status){
      switch(status){
        case 'Active': return 'Check Out'
        case 'Pending': return 'Click To Approve'
      }
    } ,  
    rowClicked (item, index) {
      this.$router.push({path: `visitorDetails?id=${item.id}`})
      //this.$router.push({path: `approvePage/${item.id}`})
    },

    approveorcheckout(id, status){
      //var strUID = document.getElementById("id").value;
      switch(status){
        case 'Active':
            //这边拿来做check out function
            //比如你的check out 是 call check out api，就在这里做axios 
            var updateURL = "http://localhost:1235/api/visitor/update/id=" + id;
              return axios
                .put(updateURL, {
                  status: 'Inactive',
                  modifyuserid: JSON.stringify(this.currentUser.id),
              }).then((response) => {
                axios
                .get("http://localhost:1235/api/visitor/list")
                .then((response) => {
                  var result = JSON.stringify(response.data);
                  result = JSON.parse(result);
                  this.items = result;
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
          break;
        case 'Pending':
            //这边就是直接route去approval page 或者 开modal出来
            //this.checkinForm = true; <<<< 这个可以是你approval page route也可以是approval modal
          break;
      }
    } ,
    pageChange (val) {
      this.$router.push({ query: { page: val }})
    },
    closeModal(status, evt, accept) {
      if (accept) {
        //alert(document.getElementById('id').value);
        // if (this.id > 0) {
        //   this.APIConnection("Update");
        // } else {
        //   this.APIConnection("Add");
        // }

        switch(this.status){
          case 'new':
            this.APIConnection("Add");
            break;
          case 'edit':
            this.APIConnection("Update");
            break;
        }
        axios
          .get("http://localhost:1235/api/visitor/list")
          .then((response) => {
          //   if (response.data.accessToken) {
          // sessionStorage.setItem('user', JSON.stringify(response.data));
          var result = JSON.stringify(response.data);
          result = JSON.parse(result);
          this.items = result;
        })
          .catch((err) => {
            // Manage the state of the application if the request
            // has failed
            alert(err)
        });
      }
    },
    visitorinfo(id, name, icNo, purpose, DepartmentSelect, hidden, status) {
      this.checkinForm = hidden;
      this.status = status;

      if(status == 'delete'){
        var updateURL = "http://localhost:1235/api/visitor/update/id=" + id;
              return axios
                .put(updateURL, {
                  status: 'Inactive',
                  modifyuserid: JSON.stringify(this.currentUser.id),
              }).then((response) => {
                axios
                .get("http://localhost:1235/api/visitor/list")
                .then((response) => {
                  var result = JSON.stringify(response.data);
                  result = JSON.parse(result);
                  this.items = result;
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
      }else if(status == 'new'){
        this.id = '';
        this.name = '';
        this.icNo = '';
        this.purpose = '';
        document.getElementById('DepartmentSelect').value = 0;
      }else{
        this.id = id;
        this.name = name;
        this.icNo = icNo;
        this.purpose = purpose;
        document.getElementById('DepartmentSelect').value = DepartmentSelect;
      }
    },
      APIConnection(Mode) {
      var strUID = document.getElementById("id").value;
      var strName = document.getElementById("name").value;
      var stricNo = document.getElementById("icNo").value;
      var strDept = document.getElementById("DepartmentSelect").value;
      var strPurpose = document.getElementById("purpose").value;
      var strStatus = 'Pending';
      var strcreateUID = JSON.stringify(this.currentUser.id);
      var strmodifyUID = JSON.stringify(this.currentUser.id);
      switch (Mode) {
        case "Add":
          var addURL = "http://localhost:1235/api/visitor/add";
            return axios
              .post(addURL, {
                name: strName,
                visitDepartment: strDept,
                visitPurpose: strPurpose,
                icnumber: stricNo,
                status: strStatus,
                createuserid: strcreateUID,
                modifyuserid: strmodifyUID
              }).then((response) => {
                axios
                .get("http://localhost:1235/api/visitor/list")
                .then((response) => {
                  var result = JSON.stringify(response.data);
                  result = JSON.parse(result);
                  this.items = result;
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
        case "Update":
            var updateURL = "http://localhost:1235/api/visitor/update/id=" + strUID;
              return axios
                .put(updateURL, {
                  name: strName,
                  visitDepartment: strDept,
                  visitPurpose: strPurpose,
                  icnumber: stricNo,
                  status: strStatus,
                  modifyuserid: strmodifyUID,
                }).then((response) => {
                  axios
                  .get("http://localhost:1235/api/visitor/list")
                  .then((response) => {
                    alert("Add Successfully")
                    var result = JSON.stringify(response.data);
                    result = JSON.parse(result);
                    this.items = result;
                  })
                })
                  // eslint-disable-next-line no-unused-vars
                  .catch((err) => {
                    // Manage the state of the application if the request
                    // has failed
                    alert(err)
              })
      }
    },
  },
};
</script>
