<template>
  <CContainer>
    <CRow class="justify-content-center">
      <CCol md="10">
        <CCard>
          
          <CCardHeader>
            <br/>
          <h3 class="text-center">VISITOR APPROVAL</h3>
          <br/>
          </CCardHeader>

          <CCardBody>

              <br/>
              <br/>
              <div>
                  <CRow>
                    <CInput horizontal v-model="this.post.id" id="idVisitor" hidden/>
                      <CCol class="col-1 col-sm-1"></CCol>
                      <CCol class="col-2 col-sm-2 text-muted"><strong> Email: </strong></CCol>
                      <CCol class="col-8 col-sm-8">
                          <CInput type="text" id="email" name="email" v-model="this.post.email" readonly></CInput>
                      </CCol> 
                  </CRow>
                  <br/>
                  <br/>
                  <CRow>
                      <CCol class="col-1 col-sm-1"></CCol>
                      <CCol class="col-2 col-sm-2 text-muted"><strong> Remarks: </strong></CCol>
                      <CCol class="col-8 col-sm-8">
                          <CTextarea type="text" id="remarks" name="remarks" required></CTextarea>
                      </CCol> 
                  </CRow>
                  <br/>
                  <br/>
                  <!-- <CRow col="12">
                      <CCol col="10" class="text-right">
                        <CButton class="btn btn-primary " @click="handleApprove()" type="submit">
                          <span>Approve</span>
                        </CButton>
                      </CCol>

                      <CCol col="2" class="text-left">
                        <CButton class="btn btn-danger " @click="handleReject()" type="submit">
                          <span>Reject</span>
                        </CButton>
                        <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
                      </CCol>
                  </CRow> -->
              </div>
          </CCardBody>
           <CCardFooter >
             <CCol col="11">
          <CButton color="danger" style="float: right" @click="handleReject()" class="mr-1">Reject</CButton>
          <CButton color="primary" style="float: right" @click="handleApprove()"  class="mr-1">Approve</CButton>
             </CCol>
        </CCardFooter>
        </CCard>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>

import axios from "axios";
import Swal from "sweetalert2";
export default {
  name: 'visitorApproval',
  
  data(){
    return {
      
      id : '',
      email: '',
      remarks: '',
      message: '',
      loading: false,
      post: ''
    }

  },

  
  mounted: function () {
    //var idVisitor = document.getElementById("idVisitor").value
    const idVisitor = parseInt(this.$route.query.id)
    axios
      
      
      .get("http://localhost:1235/api/visitor/list/" + idVisitor)
      .then((response) => { 
        this.post = response.data;
        console.log(this.post);
      })
      // eslint-disable-next-line no-unused-vars
      .catch((err) => {
        // Manage the state of the application if the request
        // has failed
        alert(err)
      });
  },

  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },

    // visitor(){
    //     return this.$route.query.id;
    // },

    //  idVisitor: {
    //   get() {
    //     return this.$route.query.id
    //   },
    //   set(value) {
        
    //     this.$router.replace({  
    //       query: {
    //         ...this.$route.query,
    //         id: value
    //       }
    //     })
    //   },
    // }
    
  },



  methods: {
   

    validateForm() {
      var remarks = document.getElementById("remarks").value;

      if (remarks == "") {
        this.$swal({
          title: 'Notice',
          text: 'Remarks must be filled',
          icon: 'Warning',
          confirmButtonText: 'OK',
          showLoaderOnConfirm: true
        })
        return false
      }

      return true;
  },

  handleApprove() {
    if(this.validateForm()){
    const id = parseInt(this.$route.query.id)
    var strEmail = document.getElementById("email").value;
    var strRemarks = document.getElementById("remarks").value; 
    var strmodifyUID = JSON.stringify(this.currentUser.id);
    var approveURL = "http://localhost:1235/api/visitorapproval/approve/id=" + id;
            return axios
              .put(approveURL, {
                email: strEmail,
                id: id,
                remarks: strRemarks,
                status: "Approve",
                modifyuserid: strmodifyUID
              }).then((response) => {

                this.$router.push("/visitorDetails?id=" + id);
                this.$swal({
                title: 'Notice',
                text: 'Successfully Approved!',
                icon: 'success',
                confirmButtonText: 'OK',
                showLoaderOnConfirm: true,
                })  
            
            })
            
            // eslint-disable-next-line no-unused-vars
            .catch((err) => {
              // Manage the state of the application if the request
              // has failed
              alert(err)
        })
      }
    },

    handleReject() {
    if(this.validateForm()){
      const id = parseInt(this.$route.query.id)
      var strEmail = document.getElementById("email").value;
      var strRemarks = document.getElementById("remarks").value;
      var strmodifyUID = JSON.stringify(this.currentUser.id);
      var rejectURL = "http://localhost:1236/api/visitorapproval/reject/id=" + id;

      return axios.put(rejectURL,{
          email:strEmail,
          id:id,
          remarks:strRemarks,
          status:'Reject',
          modifyuserid:strmodifyUID
      }).then(()=>{
          this.$router.push("/visitorDetails?id=" + id);
          Swal.fire({
              title:"Notice",
              text:"Sucessfully Rejected",
              icon: "Success",
              confirmButtonText:"OK",
              showLoaderOnConfirm:true
          })
      }).catch((err)=>{
          console.log(err);
      })

      // return axios
      //   .put(rejectURL, {
      //     email: strEmail,
      //     id: id,
      //     remarks: strRemarks,
      //     status: "Reject",
      //     modifyuserid: strmodifyUID
      //   }).then((response) => {
      //
      //     this.$router.push("/visitorDetails?id=" + id);
      //     this.$swal({
      //     title: 'Notice',
      //     text: 'Successfully Rejected!',
      //     icon: 'success',
      //     confirmButtonText: 'OK',
      //     showLoaderOnConfirm: true,
      //     })
      //
      // })

        // eslint-disable-next-line no-unused-vars
        // .catch((err) => {
        //   // Manage the state of the application if the request
        //   // has failed
        //   alert(err)
        // })
      }
    }
  },
};
</script>