<template>
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader>
          <strong>Workflow Setup</strong>
        </CCardHeader>
        <CCardBody>
          <CButton
            color="success"
            class="mr-1 mb-1"
            style="float: right"
            @click="setUp()"
          >Add
          </CButton>
          <CDataTable
            hover
            striped
            :items="items"
            :fields="fields"
            :items-per-page="5"
            @row-clicked="rowClicked"
            tableFilter
            :active-page="activePage"
            :pagination="{ doubleArrows: false, align: 'center' }"
            @page-change="pageChange">
            <template #action="data">
              <td>
                <CButton color="info" class="mr-2" style="float: right" @click="this.$router.push({path: `modifySetup/${index + 1}`})"><CIcon name="cilPencil"/></CButton>
              </td>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";

export default {
  name: "Condition Setting",
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  data() {
    return { 
    items: [],
    fields: [
        { key: "id", label: "ID", _classes: "font-weight-bold" },
        { key: "title", label: "Title"},
        { key: "department", label: "Department"},
        { key: "purpose", label: "Purpose"},
        { key: "employeename", label: "Approver" },
        { key: "action", label: "" },
    ],
    activePage: 1,
    };
  },
    mounted: function () {
    axios
      .get("http://localhost:1236/wfsetup/list")
      .then((response) => { 
        var items = [];
        var result = JSON.stringify(response.data);
        result = JSON.parse(result);
        result.forEach(element=>{
            var temp = element;
            var test = JSON.parse(temp);
            items.push(test)
          })
        this.items = items;
      })
      // eslint-disable-next-line no-unused-vars
      .catch((err) => {
        // Manage the state of the application if the request
        // has failed
        alert(err)
      });
  },
  watch: {
    $route: {
      immediate: true,
      handler(route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page);
        }
      },
    },
  },
  methods: {
    getBadge(status) {
      switch (status) {
        case "Active": return "success";
        case "Inactive": return "secondary";
        case "Pending": return "warning";
        case "Banned": return "danger";
        default: "primary"
      }
    },
    setUp(){
      this.$router.push("workflowSetup")
    },
    rowClicked (item) {
      this.$router.push({path: `modifySetup/${item.id}`})
    },
    pageChange(val) {
      this.$router.push({ query: { page: val } });
    },
    delete(item) {
      const id = item.id;
        var updateURL = "http://localhost:1235/wfsetup/update/id=" + id;
              return axios
                .put(updateURL, {
                  status: 'Inactive',
                  modifyuserid: JSON.stringify(this.currentUser.id),
              }).then((response) => {
                  this.$swal({
                    title: 'Notice',
                    text: 'Successfully Deleted!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      this.$router.push({path: '/workflowSetting'})
                    } 
                  })
               axios
                .get("http://localhost:1236/wfsetup/list")
                .then((response) => { 
                  // if (response.data.accessToken) {
                  //   sessionStorage.setItem('user', JSON.stringify(response.data));
                  // }
                  //JSON.stringify(this.currentUser.accessToken);
                  var items = [];
                  var result = JSON.stringify(response.data);
                  result = JSON.parse(result);
                  result.forEach(element=>{
                      var temp = element;
                      var test = JSON.parse(temp);
                      items.push(test)
                    })
                  this.items = items;
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
    },
  },
};
</script>
