<template>
<div>
  <div v-show="workflow == 1">
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader class="font-weight-bold">
          <h4>Workflow Setup</h4>
        </CCardHeader>
        <CCardBody>
          <div class="progress mb-3" style="height: 25px;">
            <div class="progress-bar bg-info" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><CButton color="info"></CButton></div>
            <div class="progress-bar bg-secondary" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><CButton color="secondary"></CButton></div>
          </div>
        <CForm>
                <CInput horizontal :value="id" id="id" :hidden="true" />
                <CInput
                  label="*Title:"
                  horizontal
                  :value="titlename"
                  id="titlename"/>
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h6 class="mb-0">  
                      Workflow Condition
                    </h6>
                  </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <CSelect
                            label="Purpose:"
                            horizontal
                            :options="purposeOption"
                            placeholder="Please select Purpose"
                            id="PurposeSelect"
                          />
                        </div>
                        <div class="col">
                          <CSelect
                            label="Department:"
                            horizontal
                            :options="departmentOption"
                            placeholder="Please select Department"
                            id="DepartmentSelect"
                          />
                        </div>
                      </div>    
                      <p class="mb-0" style="color: red">* indicates at least one field</p>
                    </div>
                </div>     
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h6 class="mb-0">                  
                       Approver
                    </h6>
                  </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <CSelect
                          label="Role:"
                          horizontal
                          :options="roleOption"
                          placeholder="Please select Role"
                          id="RoleSelect"
                          @change="filterapprover($event)"
                          />
                        </div>
                        <div class="col">
                          <CSelect
                          label="Position:"
                          horizontal
                          :options="positionOption"
                          placeholder="Please select Position"
                          id="PositionSelect"
                          @change="filterapprover($event)"
                          />
                        </div>
                      </div>    
                    </div>  
                    <CCardHeader>
                       <h6>Specify Approval Selection</h6>
                    </CCardHeader>
                    <CCardBody>
                      <CRow>
                        <CCol lg="10">
                          <multiselect
                            v-model="ApprovalValues"
                            placeholder="Select Specify Approval"
                            :multiple="true"
                            track-by="code"
                            label="name"
                            :options="options"
                            :preselect-first="false"
                            @tag="addTag"
                            id="approverSelect"
                          /> 
                        </CCol>
                          <CCol>
                            <CButton color="info" class="mt-1"  @click="selectNone">Reset Selected </CButton>
                        </CCol>
                      </CRow>
                      <p class="mb-0" style="color: red">* If nothing selected consider all selected!!</p>
                  </CCardBody>
                </div>            
              </CForm>
        </CCardBody>
        <CCardFooter>
          <CButton color="danger" style="float: right" @click="goBack">Back</CButton>
          <CButton color="primary" style="float: right" @click="Add" class="mr-1">Confirm</CButton>
        </CCardFooter>
      </CCard>
    </CCol>
  </CRow>
</div>
<div v-show="workflow == 2">
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader class="font-weight-bold">
          <h4>Level 2 Workflow Setup</h4>
        </CCardHeader>
        <CCardBody>
          <div class="progress mb-3" style="height: 25px;">
            <div class="progress-bar bg-success" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><CButton color="success"  @click="setUp()"><CIcon name="cilCheckCircle"/></CButton></div>
            <div class="progress-bar bg-info" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><CButton color="info"></CButton></div>
          </div>
        <CForm>
                <CInput horizontal :value="id" id="id" :hidden="true" />
                <CInput
                  label="*Title:"
                  horizontal
                  :value="titlename"
                  id="titlename"/>
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h6 class="mb-0">  
                      Workflow Condition
                    </h6>
                  </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <CSelect
                            label="Purpose:"
                            horizontal
                            :options="purposeOption"
                            placeholder="Please select Purpose"
                            id="PurposeSelect"
                          />
                        </div>
                        <div class="col">
                          <CSelect
                            label="Department:"
                            horizontal
                            :options="departmentOption"
                            placeholder="Please select Department"
                            id="DepartmentSelect"
                          />
                        </div>
                      </div>    
                      <p class="mb-0" style="color: red">* indicates at least one field</p>
                    </div>
                </div>     
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h6 class="mb-0">                  
                       Approver
                    </h6>
                  </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <CSelect
                          label="Role:"
                          horizontal
                          :options="roleOption"
                          placeholder="Please select Role"
                          id="RoleSelect"
                          @change="filterapprover($event)"
                          />
                        </div>
                        <div class="col">
                          <CSelect
                          label="Position:"
                          horizontal
                          :options="positionOption"
                          placeholder="Please select Position"
                          id="PositionSelect"
                          @change="filterapprover($event)"
                          />
                        </div>
                      </div>    
                    </div>
                    <CCardHeader>
                       <h6>Specify Approval Selection</h6>
                    </CCardHeader>
                    <CCardBody>
                      <CRow>
                        <CCol lg="10">
                          <multiselect
                            v-model="ApprovalValues"
                            placeholder="Select Specify Approval"
                            :multiple="true"
                            track-by="code"
                            label="name"
                            :options="options"
                            :preselect-first="false"
                            @tag="addTag"
                            id="approverSelect"
                          /> 
                        </CCol>
                          <CCol>
                            <CButton color="info" class="mt-1" @click="selectNone">Reset Selected </CButton>
                        </CCol>
                      </CRow>
                      <p class="mb-0" style="color: red">* If nothing selected consider all selected!!</p>
                  </CCardBody>
                </div>              
              </CForm>
        </CCardBody>
        <CCardFooter>
          <CButton color="danger" style="float: right" @click="goBack">Back</CButton>
          <CButton color="primary" style="float: right" @click="Add2" class="mr-1">Confirm</CButton>
        </CCardFooter>
      </CCard>
    </CCol>
  </CRow>
</div>
</div>


</template>

<script>
import Multiselect from 'vue-multiselect';
import axios from 'axios';

export default {
  name: 'Approver',
  components: {
    Multiselect
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.usersOpened = from.fullPath.includes('workflowSetting')
    })
  },
  data () {
    return {
      usersOpened: null,
      approvepage: false,
      departmentOption: [
        { value: "1", label: "General Office" },
        { value: "2", label: "Sales" },
        { value: "3", label: "Legal" },
      ],
      purposeOption: [
        { value: "1", label: "Meeting" },
        { value: "2", label: "Repairing" },
        { value: "3", label: "Find Client" },
      ],
      roleOption: [
        { value: "1", label: "User" },
        { value: "2", label: "Admin" },
        { value: "3", label: "Manager" },
        { value: "4", label: "Head" },
      ],
      positionOption: [
        { value: "1", label: "Manager" },
        { value: "2", label: "Senior" },
        { value: "3", label: "Junior" },
        { value: "4", label: "CEO" }, 
      ],
      ApprovalValues: [],
      options: [], 
      workflow:1,
    }
  },
  computed: {
    fields () {
      return [
        { key: 'key', label: 'Key : ', _style: 'width:100px', _classes: "font-weight-bold"},
        { key: 'value', label: 'Value :  ', _style: 'width:150px;' },
      ]    
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
    visitorData () {
      const id = this.$route.params.id
      const workflow = workflowData.find((workflow, index) => index + 1 == id)
      const workflowDetails = workflow ? Object.entries(workflow) : [['id', 'Not found']]
      return workflowDetails.map(([key, value]) => { return { key, value } })
    },
    visibleData () {
      return this.workflowData.filter(param => param.key !== 'title')
    },
    name () {
      return this.workflowData.filter(param => param.key === 'title')[0].value
    }
  },
  methods: {
    validateForm() {
     var strTitle = document.getElementById("titlename").value;
     var strPurpose = document.getElementById("PurposeSelect").value 
     var strDepartment = document.getElementById("DepartmentSelect").value;
     var strapprover = document.getElementById("approverSelect").value;

       if (strTitle == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Title must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (strPurpose == "" && strDepartment =="") {
        this.$swal({
                    title: 'Notice',
                    text: 'Condition must select at least one',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }  
      if (strapprover == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Approver must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      return true;

},
    filterapprover(event){
      //this.selectNone();
      this.ApprovalValues = [];
      var role = document.getElementById("RoleSelect").value == ""?0 : document.getElementById("RoleSelect").value;
      var position = document.getElementById("PositionSelect").value == ""?0 : document.getElementById("PositionSelect").value;
      var url = "http://localhost:1236/wfsetup/getemployee/role="+ role +"/position="+ position;
      axios
      .get(url)
          .then((response) => {
          //   if (response.data.accessToken) {
          // sessionStorage.setItem('user', JSON.stringify(response.data));
          var items = [];
          var result = JSON.stringify(response.data);
          result = JSON.parse(result);
          result.forEach(element=>{
            var temp = element;
            var test = JSON.parse(temp);
            // console.log(test);

            items.push({
              "name" : test.name,
              "code" : test.id
            })
          })
          this.options = items;
          console.log(this.options)
        })
          .catch((err) => {
            // Manage the state of the application if the request
            // has failed
            alert(err)
        });
    },
    addTag (newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
      }
      this.options.push(tag)
      this.value.push(tag)
      },
    goBack() {
      this.usersOpened ? this.$router.go(-1) : this.$router.push({path: '/workflowSetting'})
    },
    selectNone() {
      this.ApprovalValues = [];
      this.$refs.value.deactivate();
    },
    setUp(){
      this.workflow = 1;
      this.ApprovalValues = [];
    },
    Add(){
      if(this.validateForm()){
      var strUID = document.getElementById("id").value;
      var strTitle = document.getElementById("titlename").value;
      var strcondition = "Purpose="+ document.getElementById("PurposeSelect").value + " AND " + "Department=" + document.getElementById("DepartmentSelect").value;
      var strRoles = document.getElementById("RoleSelect").value;
      var strPosition = document.getElementById("PositionSelect").value;

      var strApprover = "";
      var tempCount = 1;
      this.ApprovalValues.forEach(el=>{
        strApprover += el.code;
        if(tempCount < this.ApprovalValues.length)
          strApprover += ",";

        tempCount++;
      });
      console.log(strApprover);

      var strStatus = 'Active';
      var strcreateUID = JSON.stringify(this.currentUser.id);
      var strmodifyUID = JSON.stringify(this.currentUser.id);
      var addURL = "http://localhost:1236/wfsetup/add";
            return axios
                .post(addURL, {
                  title: strTitle,
                  conditions: strcondition,
                  role: strRoles,
                  position: strPosition,
                  employeeID: strApprover,
                  status: strStatus,
                  createuserid: strcreateUID,
                  modifyuserid: strmodifyUID
                }).then((response) => {
                  this.$swal({
                    title: 'Workflow Set!',
                    text: 'Continue with the next level Workflow?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes!',
                    cancelButtonText: 'No!',
                    showCloseButton: true,
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      this.workflow = 2;
                      this.id = response.data.id;
                      this.ApprovalValues = [];
                      // this.$router.push({path: `/workflowSetup2/${response.data.id}`});
                    } else {
                      this.$router.push("workflowSetting");
                    }
                  })
                axios
                .get("http://localhost:1236/wfsetup/list")
                .then((response) => { 
                  // if (response.data.accessToken) {
                  //   sessionStorage.setItem('user', JSON.stringify(response.data));
                  // }
                  //JSON.stringify(this.currentUser.accessToken);
                  var items = [];
                  var result = JSON.stringify(response.data);
                  result = JSON.parse(result);
                  result.forEach(element=>{
                      var temp = element;
                      var test = JSON.parse(temp);
                      items.push(test)
                    })
                  this.items = items;
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
      }
    },
    Add2(){
      var strUID = this.id;
      var strTitle = document.getElementById("titlename").value;
      var strcondition = "Purpose="+ document.getElementById("PurposeSelect").value + " AND " + "Department=" + document.getElementById("DepartmentSelect").value;
      var strRoles = document.getElementById("RoleSelect").value;
      var strPosition = document.getElementById("PositionSelect").value;

      var strApprover = "";
      var tempCount = 1;
      this.ApprovalValues.forEach(el=>{
        strApprover += el.code;
        if(tempCount < this.ApprovalValues.length)
          strApprover += ",";

        tempCount++;
      });
      console.log(strApprover);

      var strStatus = 'Active';
      var strcreateUID = JSON.stringify(this.currentUser.id);
      var strmodifyUID = JSON.stringify(this.currentUser.id);
      var addURL = "http://localhost:1236/wfsetup/add";
            return axios
                .post(addURL, {
                  title: strTitle,
                  conditions: strcondition,
                  role: strRoles,
                  position: strPosition,
                  wfid: strUID,
                  employeeID: strApprover,
                  status: strStatus,
                  createuserid: strcreateUID,
                  modifyuserid: strmodifyUID
                }).then((response) => {
                   this.$swal({
                    title: 'Notice',
                    text: 'Second Level Workflow Set!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      this.$router.push({path: '/workflowSetting'})
                    } 
                  })
                axios
                .get("http://localhost:1236/wfsetup/list")
                .then((response) => { 
                  // if (response.data.accessToken) {
                  //   sessionStorage.setItem('user', JSON.stringify(response.data));
                  // }
                  //JSON.stringify(this.currentUser.accessToken);
                  var items = [];
                  var result = JSON.stringify(response.data);
                  result = JSON.parse(result);
                  result.forEach(element=>{
                      var temp = element;
                      var test = JSON.parse(temp);
                      items.push(test)
                    })
                  this.items = items;
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
    },
    closeModal(status, evt, accept){
      if (accept) {
        const id = this.$route.params.id  
        alert("The request have been approved");
        this.$router.push({path: `/approvePage2/${id}`});
      }
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>