<template>
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader>
         <strong> BlackList </strong>
        </CCardHeader>
        <CCardBody>

         <CButton color="dark" class="mb-1" @click="printme" style="float: right"
            ><CIcon name="cilCloudDownload"
          /></CButton>

          <CDataTable
            hover
            striped
            :items="dateFilteredItems"
            :fields="fields"
            :items-per-page="5"
            clickable-rows
            :active-page="activePage"
            @row-clicked="rowClicked"
            :pagination="{ doubleArrows: false, align: 'center'}"
            @page-change="pageChange"
            column-filter
            sorter
          >
          <template #date_time-filter="{}">
              <td>From:
              <input
                type="date"
                :value="new Date(startDate).toISOString().substr(0, 10)"
                @change="setDateFilter"
                class="mr-2"
              />
              </td>
              <td>
              To:
              <input
                type="date"
                :value="new Date(endDate).toISOString().substr(0, 10)"
                @change="(e) => setDateFilter(e, 'end')"
              />
              </td>
            </template>
            <template #date_time="{ item }">
              <td>
                {{ item.BlacklistDateTimeDate }}
              </td>
            </template>

            <template #status="data">
              <td>
                <CBadge :color="getBadge(data.item.status)">
                  {{data.item.status}}
                </CBadge>
              </td>
              <td>
                <CButton color=""><CIcon name="cilAccountLogout"/></CButton>
              </td>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";

export default {
  name: 'Camera',
  data () {
    return {
      items: [],
      fields: [
        { key: 'id', label: 'ID'},
        { key: 'icpassport', label: 'IC/Passport'},
        { key: 'name', label: 'Blacklist Name'},
        { key: 'reason', label: 'Reason'},
        { key: 'from_date', label: 'From Blacklist Date'},
        { key: 'to_date', label: 'To Blacklist Date'},
        { key: 'date_time', label: 'Blacklist Date/Time'},
        { key: 'blacklist_by', label: 'Blacklist By'},
        
      ],
      activePage: 1,
      startDate: 1609459200000,
      endDate: new Date()
    }
  },
  mounted: function () {
    axios
      .get("http://localhost:1235/api/blacklist/report")
      .then((response) => { 
        var items = [];
        var result = JSON.stringify(response.data);
        result = JSON.parse(result);
        console.log(result)
        result.forEach(element=>{
            var temp = element;
            var test = JSON.parse(temp);
            items.push(test)
          })
        this.items = items;
        console.log(items);
      })
      // eslint-disable-next-line no-unused-vars
      .catch((err) => {
        // Manage the state of the application if the request
        // has failed
        alert(err)
      });
  },
  watch: {
    $route: {
      immediate: true,
      handler (route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page)
        }
      }
    }
  },
computed: {
  currentUser() {
      return this.$store.state.auth.user;
    },
    computedItems() {
      return this.items.map((item) => {
        return {
          ...item,
          BlacklistDateTimeTimestamp: item.timestamp,
          BlacklistDateTimeDate: item.date_time
        };
      });
    },
    dateFilteredItems() {
      return this.computedItems.filter((item) => {
        const date = item.BlacklistDateTimeTimestamp;
        return date >= this.startDate && date <= this.endDate;
      });
    },
  },
  methods: {
    getBadge (status) {
      switch (status) {
        case 'Active': return 'success'
        case 'Inactive': return 'secondary'
        case 'Pending': return 'warning'
        case 'Banned': return 'danger'
        default: 'primary'
      }
    },
    printme() {
      window.print();
    },
    setDateFilter(e, end) {
      if (end) {
        this.endDate = new Date(e.target.value).getTime();
         console.log(this.endDate);
      } else {
        this.startDate = new Date(e.target.value).getTime();
        console.log(this.startDate);
      }
    },
    pageChange (val) {
      this.$router.push({ query: { page: val }})
    }
  }
}
</script>
