

<template>
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader>
          <strong>InOut Report </strong>
        </CCardHeader>
        <CCardBody>
          

          <CButton color="dark" class="mb-1" @click="printme" style="float: right"
            ><CIcon name="cilCloudDownload"
          /></CButton>

          <CDataTable
            :items="dateFilteredItems"
            :fields="fields"
            sorter
            column-filter
            hover
            striped
            :items-per-page="5"
            clickable-rows
            :active-page="activePage"
            @row-clicked="rowClicked"
            :pagination="{ doubleArrows: false, align: 'center' }"
            @page-change="pageChange"
          >
            <template #timein-filter="{}">
              <td>From:
              <input
                type="date"
                :value="new Date(startDate).toISOString().substr(0, 10)"
                @change="setDateFilter"
                class="mr-2"
              />
              </td>
              <td>
              To:
              <input
                type="date"
                :value="new Date(endDate).toISOString().substr(0, 10)"
                @change="(e) => setDateFilter(e, 'end')"
              />
              </td>
            </template>
            <template #timein="{ item }">
              <td>
                {{ item.registeredDate }}
              </td>
            </template>
            
            <template #timeout-filter="{}">
              <td>From:
              <input
                type="date"
                :value="new Date(startDate2).toISOString().substr(0, 10)"
                @change="setDateFilter2"
                class="mr-2"
              />
              </td>
              <td>
              To:
              <input
                type="date"
                :value="new Date(endDate2).toISOString().substr(0, 10)"
                @change="(e) => setDateFilter2(e, 'end')"
              />
              </td>
            </template>
            <template #timeout="{ item }">
              <td>
                {{ item.CheckoutDate }}
              </td>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";

export default {
  name: "itemsComputationTable",
  data() {
    return {
      items: [],
      fields: [
        { key: "id", label: "ID" },
        { key: "timein", label: "TimeIn" },
        { key: "timeout", label: "Time Out" },
        { key: "icnumber", label: "IC Number" },
        { key: "name", label: "Visitor Name" },
        { key: "departmentname", label: "Visit Department" },
        { key: "purposename", label: "Visit Purpose" },
      ],
      startDate: 1609459200000,
      endDate: new Date(),
      startDate2: 1609459200000,
      endDate2: new Date(),
      activePage: 1,
    };
  },
  mounted: function () {
    axios
      .get("http://localhost:1235/api/visitor/report")
      .then((response) => { 
        var items = [];
        var result = JSON.stringify(response.data);
        result = JSON.parse(result);
        console.log(result)
        result.forEach(element=>{
            var temp = element;
            var test = JSON.parse(temp);
            items.push(test)
          })
        this.items = items;
        console.log(items);
      })
      // eslint-disable-next-line no-unused-vars
      .catch((err) => {
        // Manage the state of the application if the request
        // has failed
        alert(err)
      });
  },
  computed: {
    computedItems() {
      return this.items.map((item) => {
        return {
          ...item,
          registeredTimestamp: item.intimestamp,
          registeredDate: item.timein,
          CheckoutTimestamp:item.outtimestamp,
          CheckoutDate: item.timeout,
        };
      });
    },
    dateFilteredItems() {
      return this.computedItems.filter((item) => {

        const date = item.registeredTimestamp;
        const date2 = item.CheckoutTimestamp;

        const startDate = this.startDate
        const endDate = this.endDate
        const startDate2 = this.startDate2
        const endDate2 = this.endDate2

       return (date >=startDate && date<=endDate) && (date2 >=startDate2 && date2<=endDate2)
        
      });
    },
  },
  methods: {
    setDateFilter(e, end) {
      if (end) {
        this.endDate = new Date(e.target.value).getTime();
      } else {
        this.startDate = new Date(e.target.value).getTime();
      }
    },
    setDateFilter2(e, end) {
      if (end) {
        this.endDate2 = new Date(e.target.value).getTime();
      } else {
        this.startDate2 = new Date(e.target.value).getTime();
      }
    },
    printme() {
      window.print();
    },
  },
};
</script>