<template>
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader>
          <strong>API Configuration</strong>
        </CCardHeader>
        <CCardBody>
          <CButton
            color="success"
            class="mr-1 mb-1"
            @click="apiinfo('', '', '', true, 'new')"
            style="float: right"
            >Add</CButton
          >
          <CDataTable
            hover
            striped
            :items="items"
            :fields="fields"
            :items-per-page="5"
            :active-page="activePage"
            :pagination="{ doubleArrows: false, align: 'center' }"
            @page-change="pageChange"
          >
          <template #status="data">
              <td>
                <CBadge :color="getBadge(data.item.status)">
                  {{data.item.status}}
                </CBadge>
              </td>
              </template>
          <template #action="data">
              <td>
                <CButton color="danger" style="float: right" class="mr-5" @click="apiinfo(data.item.id, data.item.apiname,data.item.ip,false,'delete')"><CIcon name="cilXCircle"/></CButton>
                <CButton color="info" class="mr-2" style="float: right" @click="apiinfo(data.item.id, data.item.apiname,data.item.ip, true, 'edit')"><CIcon name="cilPencil"/></CButton>
              </td>
            </template>
    
          </CDataTable>
        </CCardBody>
      </CCard>
      <div>
        <CModal
          title="API Configuration"
          :show.sync="addAPI"
          size="xl"
          @update:show="closeModal"
        >
          <CCard>
            <CCardHeader>
              <strong>API Details</strong>
            </CCardHeader>
            <CCardBody>
              <CForm>
                <CInput horizontal :value="id" id="id" :hidden="true" />
                <CInput
                  label="*API Controller Name:"
                  horizontal
                  :value="apiname"
                  id="apiname"
                />

                <br />
                <p>
                  <strong>
                    Below you can create a list of IP's allowed to access API
                  </strong>
                </p>
                <div v-for="(input, k) in inputs" :key="k">
                  <CInput
                    placeholder="Enter IP Address"
                    type="text"
                    id="ip"
                    v-model="input.ip"
                  />
                  <span>
                    <svg
                      @click="add(k)"
                      v-show="k == inputs.length - 1"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                      class="ml-2 cursor-pointer"
                      style="float: right"
                    >
                      <path fill="none" d="M0 0h24v24H0z" />
                      <path
                        fill="green"
                        d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"
                      />
                    </svg>
                    <svg
                      v-show="k || (!k && inputs.length > 1)"
                      @click="remove(k)"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                      class="ml-2 cursor-pointer"
                      style="float: right"
                    >
                      <path fill="none" d="M0 0h24v24H0z" />
                      <path
                        fill="#EC4899"
                        d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z"
                      />
                    </svg>
                  </span>
                </div>
                <!-- <div
                  v-for="(input, index) in ip"
                  :key="`ipInput-${index}`"
                  class="input wrapper flex items-center"
                  
                >
                  <CInput
                    placeholder="Enter IP Address"
                    horizontal
                    :value="ip"
                    id="ip"
                    v-model="input.ip"
                    type="text"
                     style="width: 100em"/>

                  <svg
                    @click="addField(input, index)"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    class="ml-2 cursor-pointer"
                    style="float: right">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                      fill="green"
                      d="M11 11V7h2v4h4v2h-4v4h-2v-4H7v-2h4zm1 11C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"
                    />
                  </svg>

                  <svg
                    v-show="ip.length > 1"
                    @click="removeField(index, ip)"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    class="ml-2 cursor-pointer"
                    style="float: right"
                  >
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                      fill="#EC4899"
                      d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z"
                    />
                  </svg>
                </div> -->
              </CForm>
              <p style="color: red">* indicates required fields</p>
            </CCardBody>
          </CCard>
          <template #footer-wrapper></template>
        </CModal>
      </div>
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";

export default {
  name: "Api",
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  data() {
    return {
      inputs: [
        {
          ip: "",
        },
      ],
      // ip: [{ ip: "" }],
      items: [],
      fields: [
        {
          key: "apiname",
          label: "API Controller Name",
          _classes: "font-weight-bold",
        },
        { key: "ip", label: "IP Address" },
         { key: 'status', label: 'Status' },
        { key: "action", label: "" },
      ],
      activePage: 1,
      addAPI: false,
    };
  },
  mounted: function () {
    axios
      .get("http://localhost:1235/api/list")
      .then((response) => {
        // if (response.data.accessToken) {
        //   sessionStorage.setItem('user', JSON.stringify(response.data));
        // }
        //JSON.stringify(this.currentUser.accessToken);
        var result = JSON.stringify(response.data);
        result = JSON.parse(result);
        this.items = result;
      })
      // eslint-disable-next-line no-unused-vars
      .catch((err) => {
        // Manage the state of the application if the request
        // has failed
        alert(err);
      });
  },
  methods: {
    validateForm() {
      var strPname = document.getElementById("apiname").value;
      var strip = document.getElementById("ip").value;

      if (strPname == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'API Controller Name must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }   
      if (strip == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Ip Address must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }   
      return true;
  },
    add() {
      this.inputs.push({
        ip: "",
      });
      console.log(this.inputs);
    },
    remove(index) {
      this.inputs.splice(index, 1);
    },
    getBadge(status) {
      switch (status) {
        case "Enable":
          return "success";
        case "Disable":
          return "danger";
        default:
          "primary";
      }
    },
    // addField(value, fieldType) {
    //   fieldType.push({ value: "" });
    // },
    // removeField(index, fieldType) {
    //   fieldType.splice(index, 1);
    // },
    closeModal(status, evt, accept) {
     if (accept) {
      if(this.validateForm()){
        switch(this.status){
          case 'new':
            this.APIConnection("Add");
            break;
          case 'edit':
            this.APIConnection("Update");
            break;
        }
        axios
          .get("http://localhost:1235/api/list")
          .then((response) => {
            var result = JSON.stringify(response.data);
            result = JSON.parse(result);
            this.items = result;
             this.addAPI = false;
          })
          // eslint-disable-next-line no-unused-vars
          .catch((err) => {
            // Manage the state of the application if the request
            // has failed
            alert(err);
          });
      }else
          this.addAPI = true;
      }
    },
    pageChange(val) {
      this.$router.push({ query: { page: val } });
    },
    apiinfo(id, apiname, ip, hidden, status) {
      this.addAPI = hidden;
      this.status = status;

      if (status == "delete") {
        var updateURL = "http://localhost:1235/api/update/id=" + id;
        return (
          axios
            .put(updateURL, {
              id: id,
              apiname: apiname,
              ip: ip,
              status: "Inactive",
              modifyuserid: JSON.stringify(this.currentUser.id),
            })
           .then((response) => {
                axios
                .get("http://localhost:1235/api/list")
                .then((response) => {
                  this.$swal({
                    title: 'Notice',
                    text: 'Successfully Deleted!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      this.items = result;
                    } 
                  })
                })
              })
            // eslint-disable-next-line no-unused-vars
            .catch((err) => {
              // Manage the state of the application if the request
              // has failed
              alert(err);
            })
        );
      } else if (status == "new") {
        this.id = "";
        this.apiname = "";
        this.ip = "";
      } else {
        this.id = id;
        this.apiname = apiname;
        this.ip = ip;
      }
    },
    APIConnection(Mode) {
      var strUID = document.getElementById("id").value;
      var strAPIname = document.getElementById("apiname").value;
      //var stripAddress = document.getElementById("ip").value;
      //var stripAddress = this.inputs[0].ip + "," + this.inputs[1].ip

      var stripAddress = "";
      var tempCount = 1;
      this.inputs.forEach((el) => {
        stripAddress += el.ip;
        if (tempCount < this.inputs.length) stripAddress += ",";
        tempCount++;
      });
      var strStatus = "Enable";
      var strcreateUID = JSON.stringify(this.currentUser.id);
      var strmodifyUID = JSON.stringify(this.currentUser.id);
      switch (Mode) {
        case "Add":
          var addURL = "http://localhost:1235/api/add";
          return (
            axios
              .post(addURL, {
                apiname: strAPIname,
                ip: stripAddress,
                status: strStatus,
                createuserid: strcreateUID,
                modifyuserid: strmodifyUID,
              })
              .then((response) => {
                axios
                .get("http://localhost:1235/api/list")
                .then((response) => {
                  this.$swal({
                    title: 'Notice',
                    text: 'Successfully Added!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      this.items = result;
                    } 
                  })
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
                // Manage the state of the application if the request
                // has failed
                alert(err);
              })
          );
        case "Update":
          var updateURL = "http://localhost:1235/api/update/id=" + strUID;
          return (
            axios
              .put(updateURL, {
                apiname: strAPIname,
                ip: stripAddress,
                status: strStatus,
                modifyuserid: strmodifyUID,
              })
              .then((response) => {
                axios
                  .get("http://localhost:1235/api/list")
                  .then((response) => {
                    this.$swal({
                    title: 'Notice',
                    text: 'Successfully Updated!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      this.items = result;
                    } 
                  })
                  })
                })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
                // Manage the state of the application if the request
                // has failed
                alert(err);
              })
          );
      }
    },
  },
};
</script>