<template>
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader>
          <strong>BlackList</strong>
        </CCardHeader>
        <CCardBody>
          <CButton color="success" class="mr-1" @click="blacklistinfo('', '', '', '', '', '', true, 'new')" style="float: right">Add</CButton>
          <CDataTable hover striped :items="items" :fields="fields" :items-per-page="5" tableFilter :active-page="activePage" :pagination="{ doubleArrows: false, align: 'center'}" @page-change="pageChange" >
            <template #status="data">
              <td>
                <CButton color="info"  class="mr-2" @click="blacklistinfo(data.item.id, data.item.name, data.item.icpassport, data.item.reason, data.item.fromDate, data.item.toDate, true, 'edit')"><CIcon name="cilPencil"/></CButton>
                <CButton color="danger" @click="blacklistinfo(data.item.id, data.item.name, data.item.icpassport, data.item.reason, data.item.fromDate, data.item.toDate, false,'delete')"><CIcon name="cilXCircle"/></CButton>
              </td>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
      <div>
				<CModal title="BlackList Form" :show.sync="blacklistForm" size="xl" @update:show="closeModal">
					<CCard>
						<CCardHeader>
							<strong>BlackList Information</strong>
						</CCardHeader>
						<CCardBody>
							<CForm>
								<CInput horizontal v-model="blackListUser.id" id="id" :hidden="true" />
								<CInput label="Name" horizontal required was-validated id="Name" v-model="blackListUser.name" />
								<CInput label="IC/Passport" horizontal required was-validated id="ICNo" v-model="blackListUser.icNo"/>
								<CInput label="BlackList Reason" horizontal required was-validated id="BlackListReason" v-model="blackListUser.reason"/>
								Date:
								<input type="date" :value="new Date(startDate).toISOString().substr(0, 10)" id="startDate" @change="setDateFilter" class="mr-2"/>
								to
								<input type="date" :value="new Date(endDate).toISOString().substr(0, 10)" id="endDate" @change="(e) => setDateFilter(e, 'end')"/>
							</CForm>
							<p style="color:red;"> * indicates required fields </p>
						</CCardBody>
					</CCard>
					<template #footer-wrapper></template>
				</CModal>
      </div>
    </CCol>
  </CRow>
</template>

<script>
    import axios from "axios";
    import moment from 'moment';

    export default {
  name: 'Camera',
  data () {
    return {
			status: '',
      items: [],
      fields: [
        { key: 'id', label: 'ID' , _classes: 'font-weight-bold'},
        { key: 'icpassport', label: 'IC/Passport' },
        { key: 'name', label: 'Blacklist Name' },
        { key: 'reason', label: 'Reason' },
        { key: 'fromDate', label: 'From Blacklist Date' },
        { key: 'toDate', label: 'To Blacklist Date' },
        { key: 'dateTime', label: 'Blacklist Date/Time' },
        { key: 'blacklistBy', label: 'Blacklist By' },
        { key: 'approveBy', label: 'Approved By'},
        { key: 'status', label: '' }
      ],
      activePage: 1,
      blacklistForm: false,
      // startDate: 1609459200000,
      startDate: new Date().toISOString(),
      endDate: new Date(new Date().getTime() + 86400000).toISOString(),
			blackListUser: {
				id:"",
				name:"",
				icNo:"",
				reason:""
			}
    }
  },
  mounted: function () {
    axios
      .get("http://localhost:1235/api/blacklist/list")
      .then((response) => { 
        var result = JSON.stringify(response.data);
        result = JSON.parse(result);
        this.items = result;
        
      })
      // eslint-disable-next-line no-unused-vars
      .catch((err) => {
        // Manage the state of the application if the request
        // has failed
        alert(err)
      });
  },
  watch: {
    $route: {
      immediate: true,
      handler (route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page)
        }
      }
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    computedItems() {
      return reportData.map((item) => {
        return {
          ...item,
          registeredTimestamp: item.registered.timestamp,
          registeredDate: item.registered.date,
        };
      });
    },
    dateFilteredItems() {
      return this.computedItems.filter((item) => {
        const date = item.registeredTimestamp;
        return date >= this.startDate && date <= this.endDate;
      });
    },
  },

  methods: {
    validateForm() {
      var strName = document.getElementById("Name").value;
      var stricpassport = document.getElementById("ICNo").value;
      var strReason = document.getElementById("BlackListReason").value;
      var strFrom = document.getElementById("startDate").value;
      var strTo = document.getElementById("endDate").value;

      if (strName == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Name must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }
      if (stricpassport == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'IC&Passport must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (strReason == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Reason must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (strFrom == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'From Date must be selected',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }  
      if (strTo == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'To Date must be selected',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }    
      return true;
  },
    getBadge (status) {
      switch (status) {
        case 'Active': return 'success'
        case 'Inactive': return 'secondary'
        case 'Pending': return 'warning'
        case 'Banned': return 'danger'
        default: 'primary'
      }
    },
    setDateFilter(e, end) {
      if (end) {
        this.endDate = new Date(e.target.value).getTime();
      } else {
        this.startDate = new Date(e.target.value).getTime();
      }
    },
    pageChange (val) {
      this.$router.push({ query: { page: val }})
    },
    closeModal(status, evt, accept) {
      if (accept) {
         if(this.validateForm()){
          switch(this.status){
            case 'new':
              this.APIConnection("Add");
              break;
            case 'edit':
              this.APIConnection("Update");
              break;
          }
          axios
            .get("http://localhost:1235/api/blacklist/list")
            .then((response) => {
            //   if (response.data.accessToken) {
            // sessionStorage.setItem('user', JSON.stringify(response.data));
            var result = JSON.stringify(response.data);
            result = JSON.parse(result);
            this.items = result;
            this.blacklistForm = false;
          })
            .catch((err) => {
              // Manage the state of the application if the request
              // has failed
              alert(err)
          });
        }else
          this.blacklistForm = true;
      }
    },
    blacklistinfo(id, name, icpassport, reason, fromDate, toDate, hidden, status) {
        console.log("id",id);
        console.log("name",name);
        console.log("icpassport",icpassport);
        console.log("reason",reason);
        console.log("fromDate",fromDate);
        console.log("toDate",toDate);
        console.log("hidden",hidden);
        console.log("status",status);
        if(fromDate==''){
            this.startDate = moment(new Date()).format("YYYY-MM-DD");
				}else{
            this.startDate = fromDate;
				}

        if(toDate==''){
            this.endDate = moment(new Date()).add(1, 'days').format("YYYY-MM-DD");
        }else{
            this.endDate = toDate;
        }
      this.blacklistForm = hidden;
      this.status = status;
      this.blackListUser.name = name;
      this.blackListUser.id = id;
      this.blackListUser.icNo = icpassport;
      this.blackListUser.reason = reason;

			// this.endDate = toDate;
      if(status == 'delete') {
				var updateURL = "http://localhost:1235/api/blacklist/update/id=" + id;
				return axios
					.put(updateURL, {
							name: name,
							icpassport: icpassport,
							reason: reason,
							fromDate: fromDate,
							toDate: toDate,
							approveBy: JSON.stringify(this.currentUser.username),
							blacklistBy: JSON.stringify(this.currentUser.username),
							status: 'Inactive',
							modifyuserid: JSON.stringify(this.currentUser.id),
					}).then((response) => {
							axios
								.get("http://localhost:1235/api/blacklist/list")
								.then((response) => {
									this.$swal({
											title: "Delete this blacklisted user?",
											text: "Are you sure? You won't be able to revert this!",
											type: "warning",
											icon: 'error',
											showCancelButton: true,
											confirmButtonColor: "#3085d6",
											confirmButtonText: "Yes, Delete it!",
											closeOnConfirm: true

									}).then((result) => {
											if (result.value) {
													var result = JSON.stringify(response.data);
													result = JSON.parse(result);
													this.items = result;
											}
									})
								})
					})
					// eslint-disable-next-line no-unused-vars
					.catch((err) => {
							alert(err)
					})
      }
    },
      APIConnection(Mode) {
      var strUID = document.getElementById("id").value;
      var strName = document.getElementById("Name").value;
      var stricpassport = document.getElementById("ICNo").value;
      var strReason = document.getElementById("BlackListReason").value;
      var strFrom = document.getElementById("startDate").value;
      var strTo = document.getElementById("endDate").value;
      var strApproveBy = this.currentUser.username;
      var strblacklstBy = this.currentUser.username;
      var strStatus = 'Active';
      var strcreateUID = JSON.stringify(this.currentUser.id);
      var strmodifyUID = JSON.stringify(this.currentUser.id);
      switch (Mode) {
        case "Add":
          var addURL = "http://localhost:1235/api/blacklist/add";
            return axios
              .post(addURL, {
                name: strName,
                icpassport: stricpassport,
                reason: strReason,
                fromDate: strFrom,
                toDate: strTo,
                approveBy: strApproveBy,
                blacklistBy: strblacklstBy,
                status: strStatus,
                createuserid: strcreateUID,
                modifyuserid: strmodifyUID
              }).then((response) => {
                axios
                .get("http://localhost:1235/api/blacklist/list")
                .then((response) => {
                  this.$swal({
                    title: 'Notice',
                    text: 'Successfully Added!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      this.items = result;
                    } 
                  })
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
        case "Update":
            var updateURL = "http://localhost:1235/api/blacklist/update/id=" + strUID;
              return axios
                .put(updateURL, {
                  name: strName,
                  icpassport: stricpassport,
                  reason: strReason,
                  fromDate: strFrom,
                  toDate: strTo,
                  status: strStatus,
                  modifyuserid: strmodifyUID,
                }).then((response) => {
                  axios
                  .get("http://localhost:1235/api/blacklist/list")
                  .then((response) => {
                    this.$swal({
                    title: 'Notice',
                    text: 'Successfully Updated!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      this.items = result;
                    } 
                  })
                  })
                })
                  // eslint-disable-next-line no-unused-vars
                  .catch((err) => {
                    // Manage the state of the application if the request
                    // has failed
                    alert(err)
              })
      }
    },
  },
};
</script>
