<template>
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader>
          <strong>Configuration Page </strong>
        </CCardHeader>
        <CCardBody>
          <CButton
            color="success"
            class="mr-1 mb-1"
            style="float: right"
            @click="apisettingsinfo('', '', '', '', true, 'new')">Add</CButton>

          <CDataTable
            hover
            striped
            :items="items"
            :fields="fields"
            tableFilter
            :items-per-page="30"
            :active-page="activePage"
            :pagination="{ doubleArrows: false, align: 'center' }"
            @page-change="pageChange">
            <template #action="data">
              <td>
                   <CButton color="info" style="float: right" class="mr-5" @click="apisettingsinfo(data.item.id, data.item.settingName, data.item.type, data.item.value, true, 'edit')"><CIcon name="cilPencil"/> Edit Value</CButton>
              </td>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
      <div>
        <CModal
          title="Api Settings Info"
          :show.sync="addApiSettings"
          size="xl"
          @update:show="closeModal">
          <CCard>
            <CCardHeader>
              <strong>Api Settings Details</strong>
            </CCardHeader>
            <CCardBody>
              <CForm>
                <CInput horizontal :value="id" id="id" :hidden="true" />
                 <CInput
                  label="Settings Name:" 
                  horizontal
                  required
                  was-validated
                  v-model="settingName"
                  id="settingName"
                  />

                   <CInput
                  label="Type:"
                  horizontal
                  required
                  was-validated
                  v-model="type"
                  id="type"
                  />

                <CInput
                  label="*Value:"
                  horizontal
                  required
                  was-validated
                  v-model="value"
                  id="value"
                 
                  />
              </CForm>
              <p style="color: red">* indicates required fields</p>
            </CCardBody>
          </CCard>
          <template #footer-wrapper></template>
        </CModal>
      </div>
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";
import apiSetting from "../models/apiSetting";


export default {
  name: "ConfigurationPage4",

  data() {
    return {

      apisettings: new apiSetting("", "", "", "", "", ""),
      submitted: false,
      successful: false,
      message: "",
      items: [],
      fields: [
        { key: "id", label: "ID", _classes: "font-weight-bold" },
        { key: "settingName", label: "Settings Name", },
        { key: "type", label: "Type", },
        { key: "value", label: "Value", },
        { key: "action", label: ""},
      ],
      activePage: 1,
      addApiSettings: false
    };
  },
 mounted: function () {
    axios
      .get("http://localhost:1235/api/apisetting/list")
      .then((response) => {
        // alert(JSON.stringify(response.data))
        var item = [];
        var result = JSON.stringify(response.data);
        console.log(result)
        result = JSON.parse(result);
        console.log(result)
        result.forEach(element=>{
          var temp = element;
          console.log(element)    
          console.log(temp.value);
          item.push(temp);
        })
        this.items = item;
      })
      // eslint-disable-next-line no-unused-vars
      .catch((err) => {
        // Manage the state of the application if the request
        // has failed
        alert(err)
      });
  },
  watch: {
    $route: {
      immediate: true,
      handler(route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page);
        }
      },
    },
  },
  methods: {

    //   isNumber(e) 
    //   {
    //     let char = String.fromCharCode(e.keyCode); // Get the character
    //     if(/^((\d+(\.\d *)?)|((\d*\.)?\d+))$/.test(char)) return true; // Match with regex 
    //     else e.preventDefault(); // If not match, don't add to input text
    // },
    validateForm() {
      var strValue = document.getElementById("value").value;
      var strSettingName = document.getElementById("settingName").value;
      var strType = document.getElementById("type").value;
      

      if (strValue == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'The Field Cant Be Empty',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      } 
      
  
      else if (strValue === "/^[A-Za-z]+$/") {
        this.$swal({
                    title: 'Notice',
                    text: 'Sorry, Invalid Input for Value',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      } 
      
       else if (strSettingName == "") {
        this.$swal({
                  title: 'Notice',
                    text: 'The Field Cant Be Empty',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      } 

         else if (strType == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'The Field Cant Be Empty',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      } 
      return true;
  },
    getBadge(status) {
      switch (status) {
        case "Active": return "success";
        case "Inactive": return "secondary";
        case "Pending": return "warning";
        case "Banned": return "danger";
        default: "primary"
      }
    },
    closeModal(status, evt, accept) {
      if (accept) {
      if(this.validateForm()){
        switch(this.status){
          case 'edit':
            this.APIConnection("Update");
            break;
            case 'new':
            this.APIConnection("Add");
            break;
        }
        axios
          .get("http://localhost:1235/api/apisetting/list")
          .then((response) => {
            //   if (response.data.accessToken) {
          // sessionStorage.setItem('user', JSON.stringify(response.data));
          var result = JSON.stringify(response.data);
          result = JSON.parse(result);
          this.items = result;
          this.addApiSettings = false;
           })
          // eslint-disable-next-line no-unused-vars
          .catch((err) => {
            // Manage the state of the application if the request
            // has failed
            alert(err)
          });
        }else
          this.addApiSettings = true;
      }
    },
    // eslint-disable-next-line no-unused-vars
    pageChange(val) {
      this.$router.push({ query: { page: val } });
    },
    apisettingsinfo(id, settingName, type, value, hidden, status) {
      this.addApiSettings = hidden;
      this.status = status;

     if(status == 'edit')
     {
        this.id = id;
        this.settingName = settingName;
        this.type = type;   
        this.value = value;   

      }


    else if(status == 'new')
     {
        this.id = '';
        this.settingName = '';
        this.type = '';   
        this.value = '';   

      }

      else
      {          
         this.id = '';
        this.settingName = '';
        this.type = '';   
        this.value = '';     
      }
    },
  APIConnection(Mode) {
    var strID = document.getElementById("id").value;
    var strValue = document.getElementById("value").value;
    var strType = document.getElementById("type").value;
    var strSettingName = document.getElementById("settingName").value;
    switch (Mode) {
        case "Update":
            var updateURL = "http://localhost:1235/api/apisetting/changeapisetting/id=" + strID;
              return axios
                .put(updateURL, {
                  settingName : strSettingName,
                  type : strType,
                  value: strValue,
                }).then((response) => {
                  axios
                  .get("http://localhost:1235/api/apisetting/list")
                  .then((response) => {
                    this.$swal({
                    title: 'Notice',
                    text: 'Successfully Updated!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      this.items = result;
                    } 
                  })
                  })
                })
                  // eslint-disable-next-line no-unused-vars
                  .catch((err) => {
                    // Manage the state of the application if the request
                    // has failed
                    alert(err)
              })

              case "Add":
                    var addURL = "http://localhost:1235/api/apisetting/addapisetting";
            return axios
              .post(addURL, {
                settingName : strSettingName,
                type : strType,
                value: strValue,
              
               // employeeid: employeeid  
              }).then((response) => {
                axios
                .get("http://localhost:1235/api/apisetting/list")
                .then((response) => {
                  this.$swal({
                    title: 'Notice',
                    text: 'Successfully Added!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                  var item = [];
                  var result = JSON.stringify(response.data);
                  result = JSON.parse(result);
                  result.forEach(element=>{
                  var temp = element;
                  item.push(temp);
               
                   })
                  this.items = item;
                    } 
                  })  
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })


      }
    }
  },
};
</script>

