<template>
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader>
          <strong> User</strong>
        </CCardHeader>
        <CCardBody>
          <CButton
            id = "first-modal-button"
            color="success"
            class="mr-1"
            @click="userinfo('', '', '', '', '', '', true, 'new'), resetInput"
            style="float: right"           
            >Add  </CButton>
    
          <CDataTable
            hover
            striped
            :items="items"
            :fields="fields"
            :items-per-page="5"
            tableFilter
            :active-page="activePage"
            :pagination="{ doubleArrows: false, align: 'center' }"
            @page-change="pageChange"
          >
            <template #status="data">
              <td>
                <CButton
                  color="danger" class="mr-5" style="float: right"
                  @click="
                    userinfo(
                      data.item.id,
                      data.item.username,
                      data.item.email,
                      data.item.password,
                      data.item.roles,
                      data.item.employeeid, false, 'delete')"
                   
                      ><CIcon name="cilXCircle"/>
                      </CButton>
                <CButton
                  id = "second-modal-button"
                  color="info" class="mr-2" style="float: right"
                  @click="userinfo(
                      data.item.id,
                      data.item.username,
                      data.item.email,
                      data.item.password,
                      data.item.roles,
                       data.item.employeeid, true, 'edit')"
                      ><CIcon name="cilPencil"/>
                      </CButton>
                
              </td>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>

     

      <div>
        <CModal
          title="User Form"
          :show.sync="userForm"
          size="xl"
          @update:show="closeModal"
        >

          <CCard>
            <CCardHeader>
              <strong>User Information</strong>
            </CCardHeader>
            <CCardBody>
              <CForm>
                <CInput horizontal :value="id" id="id" :hidden="true" />
                <CInput
                  label="*Username"
                  horizontal
                  :value="username"
                  id="username"
                  required
                  was-validated
                  v-model="username" 
                 
                />
                <CInput
                  label="*Email"
                  horizontal
                  :value="email"
                  type="email"
                  id="email"
                  required
                  was-validated
                  v-model="email" 
                />
                <CInput
                  label="*Password"
                  horizontal
                  id="password"
                  type="password"
                  name="password"
                  required
                  valid-feedback="Password is strong."
                  invalid-feedback="Please provide at least 6 characters/number."
                  :is-valid="validator1"            
                  v-model="password"
                               
              />
            
                <CInput
                  label="*Re-Enter Password"
                  horizontal
                  id="retypePass"
                  type="password"
                  name="password2"                    
                  valid-feedback="Password is Match."
                  invalid-feedback="Password Not Match."
                  invalid-feedback2 = "Password is Empty"
                  :is-valid="validator2"                  
                  v-model="password"                
                />

                <CSelect
          
                 label="Account Type"
                  name="AccountTypeID"
                  id="AccountTypeID"
                  :options= "AccountOption"
                  horizontal  
                  :value.sync = "roles"
                  @click="onClick"
                  
                                                            
           />  

  

                <!-- <CSelect
                 id="EmployeeName"          
                  :options="EmployeeOption"
                    horizontal
                  label="Employee Name"
                  placeholder="Please select employee name"
                  :value.sync="user.name"
                /> -->

                <!-- <p>Account Type:                   {{ user.role }}</p> -->

                 <!-- <CButton
                  style="float: right"
                  class="mr-1 btn btn-primary"
                  @click="handleRegister"
                  type="submit"
                >
                  Confirm
                </CButton 

           

                <CButton
                  style="float: right"
                  class="mr-1 btn btn-secondary"
                  @click="userForm = true"
                >
                  Cancel
                />  -->
              </CForm>

              <p style="color: red">* indicates required fields</p>
            </CCardBody>
          </CCard>
          <template #footer-wrapper></template>
        </CModal>
     
      </div>

    
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";
import User from "../models/user";
//import UserData from "./UserData";

   // var roles = document.getElementById("AccountTypeID");
    // var roles = document.getElementById("AccountTypeID");
    

    // if (roles == "users") {
    //       roles = "USERS";
    //       console.log(roles);
    // }
    // else if (roles == "admin") {
      
    //      roles = "ADMIN";
    //     console.log(roles);
    // }

    // else {
    //     roles = "the rest";
    //     document.write (roles);
    //     console.log(roles);
    // }


export default {
    
  name: "User",
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  data() {
    return {

        id: '',
        username: '',
        email:'',
        roles: '',
        status: '',

      user: new User("", "", "", "", "", ""),
      submitted: false,
      successful: false,
      message: "",
      AccountOption: [
        { value: "USER", label: "Basic [Limited Access]" },
        { value: "ADMIN", label: "Admin [Full Access]" },
      ],

      items: [],
      fields: [
        { key: "id", label: "ID", _classes: "font-weight-bold" },
        { key: "username", label: "Username" },
        { key: "email", label: "Email" },
        { key: "roles", label: "Account Type" },
        { key: "status", label: ''},
      ],
      activePage: 1,
      userForm: false,
   
      options: [], 
   
  
    };

    
  },

  mounted: function () {
    axios
      .get("http://localhost:1235/api/user/list")
      .then((response) => {
        // alert(JSON.stringify(response.data))
        var item = [];
        var result = JSON.stringify(response.data);
        console.log(result)
        result = JSON.parse(result);
        console.log(result)
        result.forEach(element=>{
          var temp = element;
          console.log(element)
          temp["roles"] = element.roles[0].name;  
          item.push(temp);
        })
        this.items = item;
      })
      // eslint-disable-next-line no-unused-vars
      .catch((err) => {
        // Manage the state of the application if the request
        // has failed
        alert(err)
      });

  },

  watch: {
    $route: {
      immediate: true,
      handler(route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page);
        }
      },
    },
  },
  methods: {

    onClick: function(e){
        var roles = this.roles;
        var label = e.target.value;
        var value = e.target.options[e.target.options.selectedIndex].text;
        // console.log('label', label);
        // console.log('value', value);
        console.log(roles);
    },

    
    handleChange(e) {
        if(e.target.options.selectedIndex > -1) {
            console.log(e.target.options[e.target.options.selectedIndex].dataset.foo)
        }
    },

    
     resetInput() {
      this.username = "";
      this.email = "";
      this.password = "";
      this.password2 = "";
      this.AccountTypeID = "";
      this.employeeid = "";
    },

    validateForm(){
      var re = /\S+@\S+\.\S+/;
      var strUser = document.getElementById("username").value;
      var strEmail = document.getElementById("email").value;
      var strPass = document.getElementById("password").value;
      var strPass2 = document.getElementById("retypePass").value;
      var strRoles = document.getElementById("AccountTypeID").value;
    //  var strEmplo = document.getElementById("EmployeeName").value;

      if (strUser == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Username must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }
      if (strEmail == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Email must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (!re.test(strEmail)) {
        this.$swal({
                    title: 'Notice',
                    text: 'Email Format Wrong!',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (strPass == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Password must be filled',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (strPass.length <= 5) {
        this.$swal({
                    title: 'Notice',
                    text: 'Password must be Strong',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                  return false
      }
      if (strPass2 == "") {
              this.$swal({
                          title: 'Notice',
                          text: 'Retype Password must be filled',
                          icon: 'Warning',
                          confirmButtonText: 'OK',
                          showLoaderOnConfirm: true
                        })
                        return false
            }
      if (strPass2 != strPass) {
              this.$swal({
                          title: 'Notice',
                          text: 'Password must be match',
                          icon: 'Warning',
                          confirmButtonText: 'OK',
                          showLoaderOnConfirm: true
                        })
                        return false
            }
      if (strRoles == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Role must be selected',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      } 
      // if (strEmplo == "") {
      //   this.$swal({
      //               title: 'Notice',
      //               text: 'Employee name must be selected',
      //               icon: 'Warning',
      //               confirmButtonText: 'OK',
      //               showLoaderOnConfirm: true
      //             })
      //               return false;
      // }      
       return true;

    },
          
    // getRoles (strRoles) {
    //   switch (strRoles) {
    //     case '1': return 'USER'
    //     case '2': return 'ADMIN'
    //     default: 'USER'
    //     console.log(strRoles);
    //   }
    // },

     getBadge (status) {
      switch (status) {
        case 'Active': return 'success'
        case 'Inactive': return 'secondary'
        case 'Pending': return 'warning'
        case 'Banned': return 'danger'
        default: 'primary'
      }
    },
    closeModal(status, evt, accept) {
      if (accept) {
      if(this.validateForm()){
        switch(this.status){
          case 'new':
            this.APIConnection("Add");
            break;
          case 'edit':
            this.APIConnection("Update");
            break;
        }
        
        
        axios
          .get("http://localhost:1235/api/user/list")
          .then((response) => {
          //   if (response.data.accessToken) {
          // sessionStorage.setItem('user', JSON.stringify(response.data));
          var item = [];
          var result = JSON.stringify(response.data);
          result = JSON.parse(result);
          result.forEach(element=>{
          var temp = element;
          temp["roles"] = element.roles[0].name;
          item.push(temp);
        })
        this.items = item;
        this.userForm = false;
        })
          .catch((err) => {
            // Manage the state of the application if the request
            // has failed
            alert(err)
        });
      }else
        this.userForm = true;
        
      }
    },

    validator1(val) {
      return val ? val.length >= 6 : false;
    },
    validator2(val) 
    {
      var a = document.getElementById("password").value;

            if (val != a) {
              return false;
            } else if (val == "") {
              return false;
            }
            else {
              return true;
            }
    },
    pageChange(val) {
      this.$router.push({ query: { page: val } });
    },
    userinfo(id, username, email, password, roles, employeeid, hidden, status) {
      this.userForm = hidden;
      this.status = status;

      if(status == 'delete'){
        var updateURL = "http://localhost:1235/api/auth/update/id=" + id;
              return axios
                .put(updateURL, {
                  username: username,
                  email: email,
                  password: password,
                  roles: roles,
                  status: 'Inactive',
                  modifyuserid: JSON.stringify(this.currentUser.id)
              }).then((response) => {
                axios
                .get("http://localhost:1235/api/user/list")
                .then((response) => {
                  this.$swal({
                      title: "Delete this User?",
                      text: "Are you sure? You won't be able to revert this!",
                      type: "warning",
                      icon: 'error',
                      showCancelButton: true,
                      confirmButtonColor: "#3085d6",
                      confirmButtonText: "Yes, Delete it!",
                      closeOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var item = [];
                  var result = JSON.stringify(response.data);
                  result = JSON.parse(result);
                  result.forEach(element=>{
                  var temp = element;
                  temp["roles"] = element.roles[0].name;
                  item.push(temp);
                   })
                  this.items = item;
                    } 
                  })   
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
      }else if(status == 'new'){
        this.id = '';
        this.username = '';
        this.email = '';
        this.password = '';
        document.getElementById('AccountTypeID').value = 0;
  
      }else{
        this.id = id;
        this.username = username;
        this.email = email;
        this.password = password;
        // eslint-disable-next-line no-undef   
        this.roles = roles;
        
       }
    },

  
      APIConnection(Mode) {
      var strUID = document.getElementById("id").value;
      var strUser = document.getElementById("username").value;
      var strEmail = document.getElementById("email").value;
      var strPass = document.getElementById("password").value;
      var strRoles = document.getElementById("AccountTypeID").value;
      var strStatus = 'Active';
      var strcreateUID = JSON.stringify(this.currentUser.id);
      var strmodifyUID = JSON.stringify(this.currentUser.id);
      console.log(strRoles);
     // var employeeid = document.getElementById('EmployeeName').value;
      switch (Mode) {
        case "Add":
          var addURL = "http://localhost:1235/api/auth/signup";
            return axios
              .post(addURL, {
                username: strUser,
                email: strEmail,
                role: [strRoles],
                password: strPass,
                status: strStatus,
                createuserid: strcreateUID,
                modifyuserid: strmodifyUID,
               // employeeid: employeeid  
              }).then((response) => {
                axios
                .get("http://localhost:1235/api/user/list")
                .then((response) => {
                  this.$swal({
                    title: 'Notice',
                    text: 'Successfully Added!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var item = [];
                  var result = JSON.stringify(response.data);
                  result = JSON.parse(result);
                  result.forEach(element=>{
                  var temp = element;
                  temp["roles"] = element.roles[0].name;
                  item.push(temp);
               
                   })
                  this.items = item;
                    } 
                  })  
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })

            
               case "Update":
            var updateURL = "http://localhost:1235/api/auth/update/id=" + strUID;
              return axios
                .put(updateURL, {
                  username: strUser,
                  email: strEmail,
                  role: [strRoles],
                  password: strPass,
                  status: strStatus,
                  modifyuserid: strmodifyUID,
                  //employeeid: employeeid,
                }).then((response) => {
                  axios
                  .get("http://localhost:1235/api/user/list")
                  .then((response) => {
                    this.$swal({
                    title: 'Notice',
                    text: 'Successfully Updated!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var item = [];
                  var result = JSON.stringify(response.data);
                  result = JSON.parse(result);
                  result.forEach(element=>{
                  var temp = element;
                  temp["roles"] = element.roles[0].name;
                  item.push(temp);
                   })
                  this.items = item;
                  // eslint-disable-next-line no-undef
                  console.log(temp);
                    } 
                  })  
                  })
                })
                  // eslint-disable-next-line no-unused-vars
                  .catch((err) => {
                    // Manage the state of the application if the request
                    // has failed
                    alert(err)
              })

         
        }
       
      }
    },
  }
  
</script>

