<template>
  <CRow>
    <CCol col="16" xl="12">
      <CCard>
        <CCardHeader>
          <strong>Purpose </strong>
        </CCardHeader>
        <CCardBody>
          <CButton
            color="success"
            class="mr-1 mb-1"
            style="float: right"
            @click="purposeinfo('', '', true, 'new')">Add</CButton>

          <CDataTable
            hover
            striped
            :items="items"
            :fields="fields"
            :items-per-page="5"
            :active-page="activePage"
            :pagination="{ doubleArrows: false, align: 'center' }"
            @page-change="pageChange">
            <template #action="data">
              <td>
                <CButton color="danger" style="float: right" class="mr-5" @click="purposeinfo(data.item.id, data.item.purposename,false,'delete')"><CIcon name="cilXCircle"/></CButton>
                <CButton color="info" class="mr-2" style="float: right" @click="purposeinfo(data.item.id, data.item.purposename, true, 'edit')"><CIcon name="cilPencil"/></CButton>
              </td>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
      <div>
        <CModal
          title="Purpose"
          :show.sync="addPurpose"
          size="xl"
          @update:show="closeModal">
          <CCard>
            <CCardHeader>
              <strong>Purpose Details</strong>
            </CCardHeader>
            <CCardBody>
              <CForm>
                <CInput horizontal :value="id" id="id" :hidden="true" />
                <CInput
                  label="*Purpose:"
                  horizontal
                  :value="purposename"
                  required
                  was-validated
                  id="purposename"/>
              </CForm>
              <p style="color: red">* indicates required fields</p>
            </CCardBody>
          </CCard>
          <template #footer-wrapper></template>
        </CModal>
      </div>
    </CCol>
  </CRow>
</template>

<script>
import axios from "axios";

export default {
  //name: "Purpose",
   computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  data() {
    return {
      items: [],
      fields: [
        { key: "id", label: "ID", _classes: "font-weight-bold" },
        { key: "purposename", label: "Purpose Name", },
        { key: "action", label: ""},
      ],
      activePage: 1,
      addPurpose: false
    };
  },
  mounted: function () {
    axios
      .get("http://localhost:1235/api/purpose/list")
      .then((response) => { 
        // if (response.data.accessToken) {
        //   sessionStorage.setItem('user', JSON.stringify(response.data));
        // }
        //JSON.stringify(this.currentUser.accessToken);
        var result = JSON.stringify(response.data);
        result = JSON.parse(result);
        this.items = result;
      })
      // eslint-disable-next-line no-unused-vars
      .catch((err) => {
        // Manage the state of the application if the request
        // has failed
        alert(err)
      });
  },
  watch: {
    $route: {
      immediate: true,
      handler(route) {
        if (route.query && route.query.page) {
          this.activePage = Number(route.query.page);
        }
      },
    },
  },
  methods: {
    validateForm() {
      var strPname = document.getElementById("purposename").value;

      if (strPname == "") {
        this.$swal({
                    title: 'Notice',
                    text: 'Purpose Name must be filled out',
                    icon: 'Warning',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  })
                    return false;
      }   
      return true;
  },
    getBadge(status) {
      switch (status) {
        case "Active": return "success";
        case "Inactive": return "secondary";
        case "Pending": return "warning";
        case "Banned": return "danger";
        default: "primary"
      }
    },
    closeModal(status, evt, accept) {
      if (accept) {
      if(this.validateForm()){
        switch(this.status){
          case 'new':
            this.APIConnection("Add");
            break;
          case 'edit':
            this.APIConnection("Update");
            break;
        }
        axios
          .get("http://localhost:1235/api/purpose/list")
          .then((response) => {
            //   if (response.data.accessToken) {
          // sessionStorage.setItem('user', JSON.stringify(response.data));
          var result = JSON.stringify(response.data);
          result = JSON.parse(result);
          this.items = result;
          this.addPurpose = false;
           })
          // eslint-disable-next-line no-unused-vars
          .catch((err) => {
            // Manage the state of the application if the request
            // has failed
            alert(err)
          });
        }else
          this.addPurpose = true;
      }
    },
    // eslint-disable-next-line no-unused-vars
    pageChange(val) {
      this.$router.push({ query: { page: val } });
    },
    purposeinfo(id, purposename, hidden, status) {
      this.addPurpose = hidden;
      this.status = status;

      if(status == 'delete'){
        var updateURL = "http://localhost:1235/api/purpose/update/id=" + id;
              return axios
                .put(updateURL, {
                  id: id,
                  purposename: purposename,
                  status: 'Inactive',
                  modifyuserid: JSON.stringify(this.currentUser.id),
              }).then((response) => {
                axios
                .get("http://localhost:1235/api/purpose/list")
                .then((response) => {
                  this.$swal({
                    title: 'Notice',
                    text: 'Successfully Deleted!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      this.items = result;
                    } 
                  })
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
      }else if(status == 'new'){
        this.id = '';
        this.purposename = '';
      }else{
        this.id = id;
        this.purposename = purposename;
      }
    },
  APIConnection(Mode) {
    var strUID = document.getElementById("id").value;
    var strPname = document.getElementById("purposename").value;
    var strStatus = 'Active';
    var strcreateUID = JSON.stringify(this.currentUser.id);
    var strmodifyUID = JSON.stringify(this.currentUser.id);
    switch (Mode) {
        case "Add":
          var addURL = "http://localhost:1235/api/purpose/add";
            return axios
              .post(addURL, {
                purposename: strPname,
                status: strStatus,
                createuserid: strcreateUID,
                modifyuserid: strmodifyUID
              }).then((response) => {
                axios
                .get("http://localhost:1235/api/purpose/list")
                .then((response) => {
                  this.$swal({
                    title: 'Notice',
                    text: 'Successfully Added!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      this.items = result;
                    } 
                  })
                })
              })
              // eslint-disable-next-line no-unused-vars
              .catch((err) => {
              // Manage the state of the application if the request
              // has failed
                alert(err)
            })
        case "Update":
            var updateURL = "http://localhost:1235/api/purpose/update/id=" + strUID;
              return axios
                .put(updateURL, {
                  purposename: strPname,
                  status: strStatus,
                  modifyuserid: strmodifyUID,
                }).then((response) => {
                  axios
                  .get("http://localhost:1235/api/purpose/list")
                  .then((response) => {
                    this.$swal({
                    title: 'Notice',
                    text: 'Successfully Updated!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    showLoaderOnConfirm: true
                  }).then((result) => {
                    if(result.value) {
                      var result = JSON.stringify(response.data);
                      result = JSON.parse(result);
                      this.items = result;
                    } 
                  })
                  })
                })
                  // eslint-disable-next-line no-unused-vars
                  .catch((err) => {
                    // Manage the state of the application if the request
                    // has failed
                    alert(err)
              })
      }
    }
  },
};
</script>

